Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: claude-md-check
        name: CLAUDE.md Size & Structure Check
        entry: make claude-check
        language: system
        files: 'CLAUDE\.md$'
        pass_filenames: false


      - id: python-lint
        name: Python Linting (Standard Tools)
        entry: ./scripts/quality_check.sh kumihan_formatter
        language: system
        files: '\.py$'
        pass_filenames: false
        description: "Integrated quality check using Black, isort, flake8"

      - id: mypy-type-check
        name: MyPy Type Checking
        entry: python3 -m mypy kumihan_formatter --config-file pyproject.toml
        language: system
        files: '\.py$'
        pass_filenames: false
        description: "Type checking with MyPy using unified pyproject.toml config"
        verbose: true

      - id: kumihan-lint-fix
        name: Kumihan Auto-fix flake8 errors
        entry: python3 -m kumihan_formatter.cli lint --fix --dry-run
        language: system
        files: '\.py$'
        pass_filenames: true
        description: "Automatically fix common flake8 errors (E501, E226, F401, E704, E702)"

      - id: smart-memory-cleanup
        name: Smart Memory Cleanup
        entry: ./scripts/smart_cleanup.sh --quiet
        language: system
        files: '\.py$|\.md$|\.json$'
        pass_filenames: false
        description: "Smart memory cleanup with threshold check"

      - id: test-quality-check
        name: Test Quality Gate
        entry: python3 scripts/test_quality_checker.py --strict
        language: system
        files: '^tests/.*\.py$'
        pass_filenames: false
        description: "Issue #1120: Test quality validation to prevent test bloat"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements

🔧 Fix #1224: Manager Integration - 8個から5個への統合完了
  kumihan_formatter/commands/sample_command.py
  kumihan_formatter/core/processing/processor_core.py
  kumihan_formatter/core/rendering/html_footnote_processor.py
  kumihan_formatter/core/rendering/html_formatter.py
  kumihan_formatter/core/rendering/html_formatter_core.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/__init__.py
  kumihan_formatter/core/syntax/syntax_reporter.py
  kumihan_formatter/core/types/chunk_types.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/parsers/main_parser.py
  kumihan_formatter/parsers/utils_core.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1225: Parser統合・重複解消 - 統合最適化完了
  kumihan_formatter/core/parsing/markdown_parser.py
  kumihan_formatter/core/processing/markdown_converter.py
  kumihan_formatter/core/processing/markdown_factory.py
  kumihan_formatter/parsers/unified_markdown_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix: processor_core.py フォーマット修正 - 空行追加で可読性向上
  kumihan_formatter/core/processing/processor_core.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1226: Git状態正常化完了 - フォーマット品質向上
  kumihan_formatter/parsers/unified_markdown_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

⚡ Fix #1227: 型安全性向上 - 段階的strict化による品質向上
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/parsing/new_format_processor.py
  kumihan_formatter/core/parsing/ruby_format_processor.py
  kumihan_formatter/core/rendering/content_processor_delegate.py
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/core/rendering/toc_generator.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/keyword_validation.py
  kumihan_formatter/parsers/unified_keyword_parser.py
  kumihan_formatter/parsers/unified_list_parser.py
  kumihan_formatter/parsers/utils_core.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

⚡ Fix #1227: 型安全性向上 - 段階的strict化による品質向上 (#1233)
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/parsing/new_format_processor.py
  kumihan_formatter/core/parsing/ruby_format_processor.py
  kumihan_formatter/core/rendering/content_processor_delegate.py
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/core/rendering/toc_generator.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/keyword_validation.py
  kumihan_formatter/parsers/unified_keyword_parser.py
  kumihan_formatter/parsers/unified_list_parser.py
  kumihan_formatter/parsers/utils_core.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🧪 Fix #1228: テストカバレッジ大幅改善 - 6.4% → 43.56%達成
  coverage.json
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/managers/parsing_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/utils_core.py
  pyproject.toml
  tests/conftest.py
  tests/integration/test_complete_workflow.py
  tests/integration/test_manager_integration.py
  tests/unit/test_core_manager.py
  tests/unit/test_file_operations.py
  tests/unit/test_file_operations_extended.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_high_efficiency_coverage.py
  tests/unit/test_html_formatter.py
  tests/unit/test_keyword_config.py
  tests/unit/test_logger_utilities.py
  tests/unit/test_main.py
  tests/unit/test_main_parser_extended.py
  tests/unit/test_main_renderer.py
  tests/unit/test_markdown_parser.py
  tests/unit/test_optimization_manager.py
  tests/unit/test_parser_core.py
  tests/unit/test_parser_core_coverage.py
  tests/unit/test_parser_core_extended.py
  tests/unit/test_parser_legacy.py
  tests/unit/test_parser_utils.py
  tests/unit/test_parsing_manager.py
  tests/unit/test_phase2_coverage_boost.py
  tests/unit/test_phase3_final_push_coverage.py
  tests/unit/test_phase3_high_impact_coverage.py
  tests/unit/test_template_system.py
  tests/unit/test_unified_api.py
  tests/unit/test_zero_coverage_boost.py
  tests/unit/test_zero_coverage_emergency.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🧪 Fix #1228: テストカバレッジ大幅改善 - 6.4% → 43.56%達成 (#1234)
  coverage.json
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/managers/parsing_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/utils_core.py
  pyproject.toml
  tests/conftest.py
  tests/integration/test_complete_workflow.py
  tests/integration/test_manager_integration.py
  tests/unit/test_core_manager.py
  tests/unit/test_file_operations.py
  tests/unit/test_file_operations_extended.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_high_efficiency_coverage.py
  tests/unit/test_html_formatter.py
  tests/unit/test_keyword_config.py
  tests/unit/test_logger_utilities.py
  tests/unit/test_main.py
  tests/unit/test_main_parser_extended.py
  tests/unit/test_main_renderer.py
  tests/unit/test_markdown_parser.py
  tests/unit/test_optimization_manager.py
  tests/unit/test_parser_core.py
  tests/unit/test_parser_core_coverage.py
  tests/unit/test_parser_core_extended.py
  tests/unit/test_parser_legacy.py
  tests/unit/test_parser_utils.py
  tests/unit/test_parsing_manager.py
  tests/unit/test_phase2_coverage_boost.py
  tests/unit/test_phase3_final_push_coverage.py
  tests/unit/test_phase3_high_impact_coverage.py
  tests/unit/test_template_system.py
  tests/unit/test_unified_api.py
  tests/unit/test_zero_coverage_boost.py
  tests/unit/test_zero_coverage_emergency.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

⚡ Fix #1229: パフォーマンス最適化 - 統合アーキテクチャ基盤効率改善完了
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

⚡ Fix #1229: パフォーマンス最適化 - 統合アーキテクチャ基盤効率改善完了 (#1235)
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1236: 型安全性緊急修復 - mypy strict mode 216エラー対応完了
  coverage.json
  kumihan_formatter/core/io/operations.py
  kumihan_formatter/core/parsing/core_marker_parser.py
  kumihan_formatter/core/parsing/inline_marker_processor.py
  kumihan_formatter/core/parsing/markdown_parser.py
  kumihan_formatter/core/parsing/new_format_processor.py
  kumihan_formatter/core/parsing/ruby_format_processor.py
  kumihan_formatter/core/patterns/event_bus.py
  kumihan_formatter/core/utilities/file_io_handler.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/unified_list_parser.py
  kumihan_formatter/parsers/utils_core.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1236: 型安全性緊急修復 - mypy strict mode 216エラー対応完了 (#1241)
  coverage.json
  kumihan_formatter/core/io/operations.py
  kumihan_formatter/core/parsing/core_marker_parser.py
  kumihan_formatter/core/parsing/inline_marker_processor.py
  kumihan_formatter/core/parsing/markdown_parser.py
  kumihan_formatter/core/parsing/new_format_processor.py
  kumihan_formatter/core/parsing/ruby_format_processor.py
  kumihan_formatter/core/patterns/event_bus.py
  kumihan_formatter/core/utilities/file_io_handler.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/unified_list_parser.py
  kumihan_formatter/parsers/utils_core.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1237: アーキテクチャ統合完了 - ファイルサイズ最適化達成
  kumihan_formatter/core/utilities/api_utils.py
  kumihan_formatter/core/utilities/element_counter.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎯 Fix #1238: テストインフラ安定化 - 17個失敗テスト修正完了
  kumihan_formatter/core/io/operations.py
  kumihan_formatter/core/parsing/inline_marker_processor.py
  kumihan_formatter/core/parsing/parser_core.py
  kumihan_formatter/core/utilities/api_utils.py
  kumihan_formatter/core/utilities/element_counter.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/keyword_validation.py
  kumihan_formatter/parsers/unified_list_parser.py
  kumihan_formatter/parsers/utils_core.py
  tests/unit/test_parser_core_extended.py
  tests/unit/test_phase2_coverage_boost.py
  tests/unit/test_phase3_final_push_coverage.py
  tests/unit/test_unified_api.py
  tests/unit/test_zero_coverage_emergency.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🛡️ Fix #1239: 品質保証システム再構築完了 - ローカルCI/CD・監視システム・品質基準達成
  .pre-commit-config.yaml
  Makefile
  scripts/local_ci.py
  scripts/optimize_imports.py
  scripts/quality_monitor.py
  scripts/security_check.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🛡️ Fix #1239: 品質保証システム再構築完了 - ローカルCI/CD・監視システム・品質基準達成 (#1244)
  .pre-commit-config.yaml
  Makefile
  scripts/local_ci.py
  scripts/optimize_imports.py
  scripts/quality_monitor.py
  scripts/security_check.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

📋 Fix #1240: Development Process Normalization - 開発プロセス正規化完了
  .github/quality/branch_strategy.yml
  .github/quality/technical_debt.yml
  CLAUDE.md
  Makefile
  scripts/document_consistency_checker.py
  scripts/technical_debt_manager.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

📋 Fix #1240: Development Process Normalization - 開発プロセス正規化完了 (#1245)
  .github/quality/branch_strategy.yml
  .github/quality/technical_debt.yml
  CLAUDE.md
  Makefile
  scripts/document_consistency_checker.py
  scripts/technical_debt_manager.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1246: ファイル数削減・構造最適化完了 - 157→112ファイル (28.7%削減)
  kumihan_formatter/commands/sample.py
  kumihan_formatter/commands/sample_command.py
  kumihan_formatter/core/__init__.py
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/io/distribution_converter.py
  kumihan_formatter/core/parsing/core_marker_parser.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/api_utils.py
  kumihan_formatter/markdown_converter.py
  kumihan_formatter/parser_utils.py
  kumihan_formatter/parsers/main_parser.py
  kumihan_formatter/simple_parser.py
  kumihan_formatter/simple_renderer.py
  tests/unit/test_parser_core_coverage.py
  tests/unit/test_parser_utils.py
  tests/unit/test_simple_parser.py
  tests/unit/test_simple_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🏗️ Fix #1249: 統合API設計統一・レガシーファイル整理完了
  API_GUIDELINES.md
  kumihan_formatter/core/api/__init__.py
  kumihan_formatter/core/api/formatter_api.py
  kumihan_formatter/core/api/formatter_config.py
  kumihan_formatter/core/api/formatter_core.py
  kumihan_formatter/core/api/manager_coordinator.py
  kumihan_formatter/core/parsing/legacy_parser.py
  kumihan_formatter/managers/README.md
  kumihan_formatter/parser.py
  kumihan_formatter/unified_api.py
  kumihan_formatter/unified_api_old.py
  tests/unit/test_unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🎯 Fix #1251: mypy strict mode完全準拠 - エラー186個→0個達成
  kumihan_formatter/__main__.py
  kumihan_formatter/commands/check_syntax.py
  kumihan_formatter/core/parsing/markdown_parser.py
  kumihan_formatter/core/processing/markdown_converter.py
  kumihan_formatter/core/processing/processing_optimized.py
  kumihan_formatter/core/rendering/__init__.py
  kumihan_formatter/core/rendering/content_processor_delegate.py
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/keyword_validation.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎯 Fix #1251: mypy strict mode完全準拠 - エラー186個→0個達成 (#1264)
  kumihan_formatter/__main__.py
  kumihan_formatter/commands/check_syntax.py
  kumihan_formatter/core/parsing/markdown_parser.py
  kumihan_formatter/core/processing/markdown_converter.py
  kumihan_formatter/core/processing/processing_optimized.py
  kumihan_formatter/core/rendering/__init__.py
  kumihan_formatter/core/rendering/content_processor_delegate.py
  kumihan_formatter/core/rendering/output_formatter_delegate.py
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/keyword_extractors.py
  kumihan_formatter/parsers/keyword_validation.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1252: パーサー統合最適化完了 - 10個→5個への統合
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/core_parser.py
  kumihan_formatter/parsers/parser_utils.py
  kumihan_formatter/parsers/specialized_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1252: パーサー統合最適化完了 - 10個→5個への統合 (#1265)
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/core_parser.py
  kumihan_formatter/parsers/parser_utils.py
  kumihan_formatter/parsers/specialized_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1253: マネージャー統合完了 - 6個→3個への統合 (50%削減)
  kumihan_formatter/core/api/manager_coordinator.py
  kumihan_formatter/core/io/distribution_manager.py
  kumihan_formatter/core/processing/chunk_manager.py
  kumihan_formatter/managers/__init__.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/processing_manager.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1253: マネージャー統合完了 - 6個→3個への統合 (50%削減) (#1266)
  kumihan_formatter/core/api/manager_coordinator.py
  kumihan_formatter/core/io/distribution_manager.py
  kumihan_formatter/core/processing/chunk_manager.py
  kumihan_formatter/managers/__init__.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/processing_manager.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🧪 Fix #1254: テスト最適化プロジェクト完了 - 36.8%削減達成
  tests/unit/test_core_manager.py
  tests/unit/test_core_manager_advanced.py
  tests/unit/test_core_manager_basic.py
  tests/unit/test_core_manager_files.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_high_efficiency_coverage.py
  tests/unit/test_optimization_manager.py
  tests/unit/test_parsing_manager.py
  tests/unit/test_phase2_coverage_boost.py
  tests/unit/test_phase3_final_push_coverage.py
  tests/unit/test_phase3_high_impact_coverage.py
  tests/unit/test_zero_coverage_boost.py
  tests/unit/test_zero_coverage_emergency.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🧪 Fix #1254: テスト最適化プロジェクト完了 - 36.8%削減達成 (#1267)
  tests/unit/test_core_manager.py
  tests/unit/test_core_manager_advanced.py
  tests/unit/test_core_manager_basic.py
  tests/unit/test_core_manager_files.py
  tests/unit/test_final_coverage_push.py
  tests/unit/test_high_efficiency_coverage.py
  tests/unit/test_optimization_manager.py
  tests/unit/test_parsing_manager.py
  tests/unit/test_phase2_coverage_boost.py
  tests/unit/test_phase3_final_push_coverage.py
  tests/unit/test_phase3_high_impact_coverage.py
  tests/unit/test_zero_coverage_boost.py
  tests/unit/test_zero_coverage_emergency.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

📚 Fix #1255: Critical Priority docstring実装完了 - parser_core.py + main_parser.py
  kumihan_formatter/core/parsing/parser_core.py
  kumihan_formatter/parsers/main_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

📚 Fix #1255: Critical Priority docstring実装完了 - parser_core.py + main_parser.py (#1268)
  kumihan_formatter/core/parsing/parser_core.py
  kumihan_formatter/parsers/main_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🧹 Fix #1256: プロジェクト構造最適化完了 - 不要ファイル削除・gitignore最適化
  .gitignore
Due: none

🧹 Fix #1256: プロジェクト構造最適化完了 - 不要ファイル削除・gitignore最適化 (#1269)
  .gitignore
Due: none

📈 Fix #1257: テストカバレッジ向上完了 - unified_api 61%→94%達成
  kumihan_formatter/core/api/formatter_core.py
  tests/integration/test_manager_integration.py
  tests/unit/test_unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🎯 Fix #1258: 技術的負債管理システム完全実装 - 継続監視・自動報告システム構築
  .github/workflows/technical-debt-monitoring.yml
Due: none
