Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint

claude-md-check:
  name: CLAUDE.md Size & Structure Check
  entry: make claude-check
  language: system
  pass_filenames: false

python-lint:
  name: Python Linting (Black, isort, flake8, mypy)
  entry: make lint
  language: system
  pass_filenames: false

fix: CI安定化 - 問題のあるテストにskipif適用
  tests/unit/test_block_parser_coverage.py
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_convert_processor_coverage.py
  tests/unit/test_keyword_registry_coverage.py
Due: python-lint

fix: CI完全安定化 - 残りのテストクラスにもskipif適用
  tests/unit/test_block_parser_coverage.py
  tests/unit/test_keyword_registry_coverage.py
Due: python-lint

fix: API実装ミスマッチ完全解決 - 全テスト安定化達成
  tests/unit/test_parser_core_coverage.py
  tests/unit/test_rendering_core_coverage.py
  tests/unit/test_utilities_coverage.py
Due: python-lint

fix: HTMLFormatter初期化テストの動的属性チェック実装
  tests/unit/test_rendering_core_coverage.py
Due: python-lint

feat: Issue #778 - Phase 3.1 flake8自動修正ツール実装完了
  kumihan_formatter/cli.py
  kumihan_formatter/commands/lint.py
Due: python-lint

feat: Issue #778 - flake8自動修正ツールの完全実装
  .pre-commit-config.yaml
  kumihan_formatter/cli.py
  kumihan_formatter/commands/lint.py
Due: python-lint

fix: コードレビュー指摘事項の対応
  kumihan_formatter/commands/lint.py
  kumihan_formatter/core/utilities/performance_metrics.py
Due: python-lint

feat: Issue #778 --typeオプション実装完了
  kumihan_formatter/commands/lint.py
Due: python-lint

refactor: Issue #778 コード品質向上とリファクタリング完了
  kumihan_formatter/commands/lint.py
Due: python-lint

fix: Issue #778 最終品質向上・型安全性完全対応
  kumihan_formatter/cli.py
  kumihan_formatter/commands/lint.py
Due: python-lint

feat: Issue #778 - flake8自動修正ツールの完全実装 (#782)
  .pre-commit-config.yaml
  kumihan_formatter/cli.py
  kumihan_formatter/commands/lint.py
  kumihan_formatter/core/utilities/performance_metrics.py
Due: python-lint

feat: Issue #770 - 統一エラーハンドリング・ログシステムの完全実装
  .flake8_test
  UNIFIED_ERROR_HANDLING.md
  e702_advanced_test.py
  edge_case_test.py
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/error_handling/log_formatter.py
  kumihan_formatter/core/error_handling/unified_handler.py
Due: python-lint

feat: Issue #770 - エラー提案品質向上（FileNotFoundError等）
  kumihan_formatter/core/error_handling/unified_handler.py
Due: python-lint

feat: Issue #770 - 統一エラーハンドリング・ログシステムの完全実装 (#783)
  .flake8_test
  UNIFIED_ERROR_HANDLING.md
  e702_advanced_test.py
  edge_case_test.py
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/error_handling/log_formatter.py
  kumihan_formatter/core/error_handling/unified_handler.py
Due: python-lint

feat: Issue #771 - 統一設定管理システムの実装完了
  examples/config/kumihan.json
  examples/config/kumihan.yaml
  kumihan_formatter/core/unified_config/__init__.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
Due: python-lint

feat: Issue #771 - 統一設定管理システムの実装完了 (#784)
  examples/config/kumihan.json
  examples/config/kumihan.yaml
  kumihan_formatter/core/unified_config/__init__.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
Due: python-lint

feat: Issue #769 - 300K行ファイル処理パフォーマンス最適化システム完全実装
  integrated_performance_test.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/utilities/performance_metrics.py
  performance_benchmark_test.py
Due: python-lint

feat: Issue #769 - 300K行ファイル処理パフォーマンス最適化システム完全実装 (#785)
  integrated_performance_test.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/utilities/performance_metrics.py
  performance_benchmark_test.py
Due: python-lint

docs: Issue #771 - 統一設定管理システムドキュメント追加
  docs/unified-config-system.md
Due: none

docs: Issue #771 - 統一設定管理システムドキュメント追加 (#786)
  docs/unified-config-system.md
Due: none

docs: CLAUDE.md 7原則表示システム制約無視指令追加・最適化
  .mcp.json
  CLAUDE.md
Due: claude-md-check

docs: CLAUDE.md 7原則表示システム制約無視指令追加・最適化 (#787)
  .mcp.json
  CLAUDE.md
Due: claude-md-check

feat: Issue #788 - Claude Code セットアップキット実装
  claude-setup-kit/README.md
  claude-setup-kit/project_config.yaml
  claude-setup-kit/setup.py
  claude-setup-kit/templates/CLAUDE.md.template
  claude-setup-kit/templates/claude_desktop_config.json.template
  claude-setup-kit/templates/claude_md_config.yaml.template
  claude-setup-kit/templates/hooks.json.template
  claude-setup-kit/templates/settings.local.json.template
Due: python-lint

feat: Issue #788 - Claude Code セットアップキット実装 (#789)
  claude-setup-kit/README.md
  claude-setup-kit/project_config.yaml
  claude-setup-kit/setup.py
  claude-setup-kit/templates/CLAUDE.md.template
  claude-setup-kit/templates/claude_desktop_config.json.template
  claude-setup-kit/templates/claude_md_config.yaml.template
  claude-setup-kit/templates/hooks.json.template
  claude-setup-kit/templates/settings.local.json.template
Due: python-lint

feat: Issue #790 - serena-expert強制使用システム完全実装
  .claude-config.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  claude-setup-kit/README.md
  claude-setup-kit/project_config.yaml
  claude-setup-kit/setup.py
  claude-setup-kit/templates/claude_config.yml.template
  docs/claude/reference.md
  docs/requirements/DOCUMENT_INTEGRATION_REPORT.md
  docs/requirements/MVP_CHECKLIST.md
  docs/specs/notation.md
  examples/NOTATION_CHECKLIST.md
  examples/README.md
  examples/practical/20_trpg_scenario.txt
  examples/practical/21_technical_manual.txt
  tools/claude_monitoring.py
  tools/claude_serena_precommit.py
Due: claude-md-check, python-lint

feat: Issue #790 - serena-expert強制使用システム完全実装 (#791)
  .claude-config.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  claude-setup-kit/README.md
  claude-setup-kit/project_config.yaml
  claude-setup-kit/setup.py
  claude-setup-kit/templates/claude_config.yml.template
  docs/claude/reference.md
  docs/requirements/DOCUMENT_INTEGRATION_REPORT.md
  docs/requirements/MVP_CHECKLIST.md
  docs/specs/notation.md
  examples/NOTATION_CHECKLIST.md
  examples/README.md
  examples/practical/20_trpg_scenario.txt
  examples/practical/21_technical_manual.txt
  tools/claude_monitoring.py
  tools/claude_serena_precommit.py
Due: claude-md-check, python-lint

feat: Issue #772 - メモリ・リソース管理の強化と長時間実行時の安定性向上
  kumihan_formatter/core/utilities/performance_metrics.py
  tests/performance/__init__.py
Due: python-lint

fix: CLAUDE.md サイズ最適化 - P7原則簡潔化でCI制限クリア
  CLAUDE.md
Due: claude-md-check

docs: Issue #793 - 一時的エラー対応フロー追加
  CLAUDE.md
Due: claude-md-check

docs: Issue #793 - 一時的エラー対応フロー追加 (#794)
  CLAUDE.md
Due: claude-md-check

fix: Step4代替手段をserena-expert復旧優先に修正
  CLAUDE.md
Due: claude-md-check

fix: Step4代替手段をserena-expert復旧優先に修正 (#795)
  CLAUDE.md
Due: claude-md-check

fix: Issue #660 - HTMLレンダラー統合完了による脚注機能の完全実装
  footnote_test.kumihan
  footnote_test.txt
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/error_handling/log_formatter.py
  kumihan_formatter/core/error_handling/unified_handler.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/renderer.py
  kumihan_formatter/templates/base.html.j2
  kumihan_formatter/templates/partials/base-styles.css
Due: python-lint

fix: Issue #660 - CI失敗解決 - コード品質問題修正
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/core/config/config_loader.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/template_manager.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  tests/unit/test_keyword_parsing.py
  tools/claude_monitoring.py
  tools/claude_serena_precommit.py
  tools/fix_kumihan_notation_errors.py
Due: python-lint

fix: Issue #660 - CI失敗解決 - コード品質問題修正 (#797)
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/core/config/config_loader.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/template_manager.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  tests/unit/test_keyword_parsing.py
  tools/claude_monitoring.py
  tools/claude_serena_precommit.py
  tools/fix_kumihan_notation_errors.py
Due: python-lint

Path conditions:
  claude-md-check: any of: CLAUDE\.md$
  python-lint: any of: \.py$
