Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: claude-md-check
        name: CLAUDE.md Size & Structure Check
        entry: make claude-check
        language: system
        files: 'CLAUDE\.md$'
        pass_filenames: false


      - id: python-lint
        name: Python Linting (Standard Tools)
        entry: ./scripts/quality_check.sh kumihan_formatter
        language: system
        files: '\.py$'
        pass_filenames: false
        description: "Integrated quality check using Black, isort, flake8"

      - id: mypy-type-check
        name: MyPy Type Checking
        entry: python3 -m mypy kumihan_formatter --config-file pyproject.toml
        language: system
        files: '\.py$'
        pass_filenames: false
        description: "Type checking with MyPy using unified pyproject.toml config"
        verbose: true

      - id: kumihan-lint-fix
        name: Kumihan Auto-fix flake8 errors
        entry: python3 -m kumihan_formatter.cli lint --fix --dry-run
        language: system
        files: '\.py$'
        pass_filenames: true
        description: "Automatically fix common flake8 errors (E501, E226, F401, E704, E702)"

      - id: smart-memory-cleanup
        name: Smart Memory Cleanup
        entry: ./scripts/smart_cleanup.sh --quiet
        language: system
        files: '\.py$|\.md$|\.json$'
        pass_filenames: false
        description: "Smart memory cleanup with threshold check"

      - id: test-quality-check
        name: Test Quality Gate
        entry: python3 scripts/test_quality_checker.py --strict
        language: system
        files: '^tests/.*\.py$'
        pass_filenames: false
        description: "Issue #1120: Test quality validation to prevent test bloat"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements

🎨 Issue #1188 デスクトップGUIアプリケーション実装完了
  Makefile.gui
  kumihan_formatter/gui/__init__.py
  kumihan_formatter/gui/app.py
  kumihan_formatter/gui/components/__init__.py
  kumihan_formatter/gui/components/file_selector.py
  kumihan_formatter/gui/debug_logger.py
  kumihan_formatter/gui/styles/__init__.py
  kumihan_formatter/gui/styles/theme.py
  kumihan_formatter/gui_main.py
  pyproject.toml
  scripts/check_gui_logs.py
  uv.lock
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎨 Issue #1188 デスクトップGUIアプリケーション実装完了 (#1189)
  Makefile.gui
  kumihan_formatter/gui/__init__.py
  kumihan_formatter/gui/app.py
  kumihan_formatter/gui/components/__init__.py
  kumihan_formatter/gui/components/file_selector.py
  kumihan_formatter/gui/debug_logger.py
  kumihan_formatter/gui/styles/__init__.py
  kumihan_formatter/gui/styles/theme.py
  kumihan_formatter/gui_main.py
  pyproject.toml
  scripts/check_gui_logs.py
  uv.lock
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎨 Issue #1188 PyQt6 GUI実装完了 - モダンデスクトップアプリケーション
  kumihan_formatter/gui/__init__.py
  kumihan_formatter/gui/app.py
  kumihan_formatter/gui/components/__init__.py
  kumihan_formatter/gui/components/file_selector.py
  kumihan_formatter/gui/debug_logger.py
  kumihan_formatter/gui/styles/__init__.py
  kumihan_formatter/gui/styles/theme.py
  kumihan_formatter/gui_main.py
  kumihan_formatter/gui_pyqt6.py
  pyproject.toml
  uv.lock
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎨 Issue #1188 PyQt6 GUI実装完了 - モダンデスクトップアプリケーション (#1190)
  kumihan_formatter/gui/__init__.py
  kumihan_formatter/gui/app.py
  kumihan_formatter/gui/components/__init__.py
  kumihan_formatter/gui/components/file_selector.py
  kumihan_formatter/gui/debug_logger.py
  kumihan_formatter/gui/styles/__init__.py
  kumihan_formatter/gui/styles/theme.py
  kumihan_formatter/gui_main.py
  kumihan_formatter/gui_pyqt6.py
  pyproject.toml
  uv.lock
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Issue #1192 アーキテクチャ大幅最適化完了: コード重複解決・巨大ファイル分割・レガシー削除
  kumihan_formatter/config.py
  kumihan_formatter/config/config_manager.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/list_parser_factory.py
  kumihan_formatter/core/logging/audit_logger.py
  kumihan_formatter/core/logging/audit_types.py
  kumihan_formatter/core/logging/compliance_logger.py
  kumihan_formatter/core/logging/hash_chain.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/monitoring/health_types.py
  kumihan_formatter/core/parsing/block/base_parser.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/keyword/keyword_parser.py
  kumihan_formatter/core/parsing/keyword/marker_parser.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
  kumihan_formatter/core/security/advanced_validator.py
  kumihan_formatter/core/security/code_pattern_scanner.py
  kumihan_formatter/core/security/cve_database.py
  kumihan_formatter/core/security/dependency_scanner.py
  kumihan_formatter/core/security/input_validator.py
  kumihan_formatter/core/security/runtime_monitor.py
  kumihan_formatter/core/security/security_matcher.py
  kumihan_formatter/core/security/validation_types.py
  kumihan_formatter/core/security/validator_utils.py
  kumihan_formatter/core/security/vuln_types.py
  kumihan_formatter/core/security/vulnerability_scanner.py
  kumihan_formatter/core/validators/syntax_validator.py
  kumihan_formatter/managers/config_manager.py
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/block/handlers.py
  kumihan_formatter/parsers/block/parser.py
  kumihan_formatter/parsers/block_parser_backup.py
  kumihan_formatter/parsers/block_parser_legacy.py
  kumihan_formatter/parsers/content_parser_old.py
  kumihan_formatter/parsers/keyword_parser_backup.py
  kumihan_formatter/parsers/keyword_parser_legacy.py
  kumihan_formatter/parsers/list_parser_old.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 修正: KeywordParser import循環依存解決
  kumihan_formatter/core/parsing/keyword/__init__.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Issue #1192 アーキテクチャ大幅最適化完了: コード重複解決・巨大ファイル分割・レガシー削除 (#1193)
  kumihan_formatter/config.py
  kumihan_formatter/config/config_manager.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/list_parser_factory.py
  kumihan_formatter/core/logging/audit_logger.py
  kumihan_formatter/core/logging/audit_types.py
  kumihan_formatter/core/logging/compliance_logger.py
  kumihan_formatter/core/logging/hash_chain.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/monitoring/health_types.py
  kumihan_formatter/core/parsing/block/base_parser.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/keyword/__init__.py
  kumihan_formatter/core/parsing/keyword/keyword_parser.py
  kumihan_formatter/core/parsing/keyword/marker_parser.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
  kumihan_formatter/core/security/advanced_validator.py
  kumihan_formatter/core/security/code_pattern_scanner.py
  kumihan_formatter/core/security/cve_database.py
  kumihan_formatter/core/security/dependency_scanner.py
  kumihan_formatter/core/security/input_validator.py
  kumihan_formatter/core/security/runtime_monitor.py
  kumihan_formatter/core/security/security_matcher.py
  kumihan_formatter/core/security/validation_types.py
  kumihan_formatter/core/security/validator_utils.py
  kumihan_formatter/core/security/vuln_types.py
  kumihan_formatter/core/security/vulnerability_scanner.py
  kumihan_formatter/core/validators/syntax_validator.py
  kumihan_formatter/managers/config_manager.py
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/block/handlers.py
  kumihan_formatter/parsers/block/parser.py
  kumihan_formatter/parsers/block_parser_backup.py
  kumihan_formatter/parsers/block_parser_legacy.py
  kumihan_formatter/parsers/content_parser_old.py
  kumihan_formatter/parsers/keyword_parser_backup.py
  kumihan_formatter/parsers/keyword_parser_legacy.py
  kumihan_formatter/parsers/list_parser_old.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

✅ テスト強化完了: 14個→120個の包括的テストスイート実装
  tests/unit/test_config_io_modules.py
  tests/unit/test_core_modules.py
  tests/unit/test_parsing_modules.py
  tests/unit/test_security_modules.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

✅ テスト強化完了: 14個→120個の包括的テストスイート実装 (#1194)
  tests/unit/test_config_io_modules.py
  tests/unit/test_core_modules.py
  tests/unit/test_parsing_modules.py
  tests/unit/test_security_modules.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

📚 テスト戦略ガイドライン追加: 個人開発向け最適化（70-80%カバレッジ目標）
  CLAUDE.md
Due: claude-md-check, smart-memory-cleanup

📚 テスト戦略ガイドライン追加: 個人開発向け最適化（70-80%カバレッジ目標） (#1195)
  CLAUDE.md
Due: claude-md-check, smart-memory-cleanup

🏗️ Phase1: パーサー重複解消完了 - 3重複問題解決
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/list/__init__.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Phase1: パーサー重複解消完了 - 3重複問題解決 (#1196)
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/list/__init__.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Phase2パーサー統合完了: 8→4ファイル責任分離実現 (50%削減)
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/__init__.py
  kumihan_formatter/core/parsing/base/core_marker_parser.py
  kumihan_formatter/core/parsing/block/__init__.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/keyword/__init__.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_parser.py
  kumihan_formatter/core/parsing/specialized/__init__.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🚀 Phase3: CoreKeywordParser統合完了 - 9→1ファイル89%削減実現
  kumihan_formatter/core/parsing/integrated/__init__.py
  kumihan_formatter/core/parsing/integrated/core_keyword_parser.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/keyword/__init__.py
  kumihan_formatter/parsers/keyword_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ ディレクトリ構造簡素化完了 - ネスト削減・重複解消実現
  kumihan_formatter/core/optimization/ai_optimization/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/coordinator.py
  kumihan_formatter/core/optimization/ai_optimization/integration_data.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/business_metrics.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/performance_metrics.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/quality_metrics.py
  kumihan_formatter/core/optimization/memory/profiler/__init__.py
  kumihan_formatter/core/optimization/memory/profiler/core/__init__.py
  kumihan_formatter/core/optimization/memory/profiler/memory_monitor.py
  kumihan_formatter/core/optimization/memory/profiler/profiler_base.py
  kumihan_formatter/core/optimization/memory/profiler/report_generator.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🚀 Kumihan-Formatter 大規模アーキテクチャ最適化完了 - 34%削減達成 (#1197)
  kumihan_formatter/core/optimization/ai_optimization/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/coordinator.py
  kumihan_formatter/core/optimization/ai_optimization/integration_data.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/business_metrics.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/performance_metrics.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/quality_metrics.py
  kumihan_formatter/core/optimization/memory/profiler/__init__.py
  kumihan_formatter/core/optimization/memory/profiler/core/__init__.py
  kumihan_formatter/core/optimization/memory/profiler/memory_monitor.py
  kumihan_formatter/core/optimization/memory/profiler/profiler_base.py
  kumihan_formatter/core/optimization/memory/profiler/report_generator.py
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/__init__.py
  kumihan_formatter/core/parsing/base/core_marker_parser.py
  kumihan_formatter/core/parsing/block/__init__.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/integrated/__init__.py
  kumihan_formatter/core/parsing/integrated/core_keyword_parser.py
  kumihan_formatter/core/parsing/keyword/__init__.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_parser.py
  kumihan_formatter/core/parsing/specialized/__init__.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/keyword/__init__.py
  kumihan_formatter/parsers/keyword_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 PR #1201改善項目完全対応: API統一・エントリーポイント修正完了
  kumihan_formatter/unified_api.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1202: CLIエントリーポイント修正完了
  kumihan_formatter/cli.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1206: 削除ファイル参照・依存関係問題完全解決
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/parser_core.py
  kumihan_formatter/parser.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/unified_keyword_parser.py
  kumihan_formatter/parsers/unified_list_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🧹 Fix #1207: 技術的負債整理と廃止予定コード完全削除
  kumihan_formatter/commands/__init__.py
  kumihan_formatter/commands/sample_command.py
  kumihan_formatter/core/common/__init__.py
  kumihan_formatter/core/common/error_base.py
  kumihan_formatter/core/common/error_framework.py
  kumihan_formatter/core/common/error_types.py
  kumihan_formatter/core/common/smart_cache.py
  kumihan_formatter/core/file_operations.py
  kumihan_formatter/core/file_ops.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/parsers/utils_core.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

📚 CLAUDE.md実態整合性修正 - Issue #1209対応
  CLAUDE.md
Due: claude-md-check, smart-memory-cleanup

📚 CLAUDE.md実態整合性修正完了 - Issue #1209
  CLAUDE.md
Due: claude-md-check, smart-memory-cleanup

🧪 Fix #1212: テストカバレッジ緊急改善 3.91%→6.70%達成
  tests/unit/test_init_modules.py
  tests/unit/test_main.py
  tests/unit/test_simple_parser.py
  tests/unit/test_simple_renderer.py
  tests/unit/test_unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup, test-quality-check

🔧 Fix #1213: Type Safety Repair - mypy strict準拠完全達成
  kumihan_formatter/core/rendering/css_processor.py
  kumihan_formatter/core/rendering/css_themes.py
  kumihan_formatter/core/rendering/css_utilities.py
  kumihan_formatter/core/rendering/html_accessibility.py
  kumihan_formatter/core/rendering/html_color_processor.py
  kumihan_formatter/core/rendering/html_css_processor.py
  kumihan_formatter/core/rendering/html_footnote_processor.py
  kumihan_formatter/core/rendering/html_format_processor.py
  kumihan_formatter/parsers/keyword_definitions.py
  kumihan_formatter/simple_parser.py
  kumihan_formatter/simple_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🎨 Fix #1214: コードフォーマット統一 - Black準拠完全達成
  kumihan_formatter/simple_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🏗️ Fix #1215: アーキテクチャ統合完了 - 目標完全達成
  kumihan_formatter/commands/__init__.py
  kumihan_formatter/commands/sample_command.py
  kumihan_formatter/core/chunk_manager.py
  kumihan_formatter/core/common/error_base.py
  kumihan_formatter/core/common/error_framework.py
  kumihan_formatter/core/io/__init__.py
  kumihan_formatter/core/io/distribution_manager.py
  kumihan_formatter/core/io/distribution_processor.py
  kumihan_formatter/core/io/validators.py
  kumihan_formatter/core/markdown_parser.py
  kumihan_formatter/core/markdown_renderer.py
  kumihan_formatter/core/parsing/core_marker_parser.py
  kumihan_formatter/core/parsing/inline_marker_processor.py
  kumihan_formatter/core/parsing/new_format_processor.py
  kumihan_formatter/core/parsing/parser_core.py
  kumihan_formatter/core/rendering/__init__.py
  kumihan_formatter/core/rendering/html_formatter.py
  kumihan_formatter/core/rendering/html_formatter_core.py
  kumihan_formatter/core/rendering/html_utilities.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/template_context.py
  kumihan_formatter/managers/__init__.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/managers/optimization_manager.py
  kumihan_formatter/managers/parsing_manager.py
  kumihan_formatter/managers/plugin_manager.py
  kumihan_formatter/markdown_converter.py
  kumihan_formatter/parsers/__init__.py
  kumihan_formatter/parsers/main_parser.py
  kumihan_formatter/unified_api.py
  package-lock.json
  package.json
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1216: 依存関係と設定ファイル一貫性確保完了
  kumihan_formatter/__init__.py
  kumihan_formatter/core/io/validators.py
  kumihan_formatter/core/parsing/inline_marker_processor.py
  kumihan_formatter/core/template_context.py
  pyproject.toml
  uv.lock
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

📚 Fix #1218: ドキュメント整合性・更新完了
  API.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: claude-md-check, smart-memory-cleanup

🚨 Fix #1221: MainRenderer実装緊急対応 - 致命的インポートエラー修正
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/token_tracker.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🚨 Fix #1221: MainRenderer実装緊急対応 - 致命的インポートエラー修正 (#1230)
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/token_tracker.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1222: テストシステム修復完了 - インターフェース不整合解決
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/io/distribution_processor.py
  kumihan_formatter/core/processing/chunk_manager.py
  kumihan_formatter/core/processing/classification_rules.py
  kumihan_formatter/core/processing/doc_classifier.py
  kumihan_formatter/core/processing/markdown_converter.py
  kumihan_formatter/core/processing/markdown_factory.py
  kumihan_formatter/core/processing/processing_optimized.py
  kumihan_formatter/core/processing/processor_core.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/__init__.py
  kumihan_formatter/core/syntax/syntax_errors.py
  kumihan_formatter/core/syntax/syntax_reporter.py
  kumihan_formatter/core/types/__init__.py
  kumihan_formatter/core/types/chunk_types.py
  kumihan_formatter/core/types/toc_types.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/markdown_converter.py
  kumihan_formatter/parsers/main_parser.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🔧 Fix #1222: テストシステム修復完了 - インターフェース不整合解決 (#1231)
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/error_handling/__init__.py
  kumihan_formatter/core/io/distribution_processor.py
  kumihan_formatter/core/processing/chunk_manager.py
  kumihan_formatter/core/processing/classification_rules.py
  kumihan_formatter/core/processing/doc_classifier.py
  kumihan_formatter/core/processing/markdown_converter.py
  kumihan_formatter/core/processing/markdown_factory.py
  kumihan_formatter/core/processing/processing_optimized.py
  kumihan_formatter/core/processing/processor_core.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/__init__.py
  kumihan_formatter/core/syntax/syntax_errors.py
  kumihan_formatter/core/syntax/syntax_reporter.py
  kumihan_formatter/core/types/__init__.py
  kumihan_formatter/core/types/chunk_types.py
  kumihan_formatter/core/types/toc_types.py
  kumihan_formatter/managers/core_manager.py
  kumihan_formatter/markdown_converter.py
  kumihan_formatter/parsers/main_parser.py
  kumihan_formatter/unified_api.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup

🚨 Fix #1223: 基本動作確認・修正 - E2Eワークフロー機能回復
  kumihan_formatter/__main__.py
  kumihan_formatter/simple_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix, smart-memory-cleanup
