Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: claude-md-check
        name: CLAUDE.md Size & Structure Check
        entry: make claude-check
        language: system
        files: 'CLAUDE\.md$'
        pass_filenames: false


      - id: python-lint
        name: Python Linting (Black, isort, flake8)
        entry: bash -c 'python3 -m black --check kumihan_formatter && python3 -m isort --check-only kumihan_formatter && python3 -m flake8 kumihan_formatter'
        language: system
        files: '\.py$'
        pass_filenames: false

      - id: mypy-type-check
        name: MyPy Type Checking
        entry: python3 -m mypy kumihan_formatter --config-file pyproject.toml
        language: system
        files: '\.py$'
        pass_filenames: false
        description: "Type checking with MyPy using unified pyproject.toml config"
        verbose: true

      - id: kumihan-lint-fix
        name: Kumihan Auto-fix flake8 errors
        entry: python3 -m kumihan_formatter.cli lint --fix --dry-run
        language: system
        files: '\.py$'
        pass_filenames: true
        description: "Automatically fix common flake8 errors (E501, E226, F401, E704, E702)"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements

feat: Issue #874 - GEMINI.md 2025年版包括的更新 + Gemini協業ファイル群統合
  .gitignore
  CLAUDE.md
  kumihan_formatter/config/config_manager.py
  kumihan_formatter/config/extended_config.py
  kumihan_formatter/core/config/config_manager.py
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/keyword_parsing/models/parse_result.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/controller.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/monitoring.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/recovery.py
  kumihan_formatter/core/optimization/ai_optimization/integration/beta_core.py
  kumihan_formatter/core/optimization/ai_optimization/integration/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/learning/core.py
  kumihan_formatter/core/optimization/ai_optimization/learning/pattern_engine.py
  kumihan_formatter/core/optimization/phase_b/integrator.py
  kumihan_formatter/core/optimization/settings/manager.py
  kumihan_formatter/core/optimization/settings/optimizers.py
  kumihan_formatter/core/performance/benchmark.py
  kumihan_formatter/core/performance/optimizers/memory.py
  kumihan_formatter/core/performance/optimizers/simd.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Gemini協業レポートシステムファイル追加
  .gitignore
  gemini_reports/README.md
  gemini_reports/TEMPLATE.md
  gemini_reports/generate_report.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #874 - Critical CI failures resolved
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/performance/monitor.py
  kumihan_formatter/core/rendering/main_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #876 Phase1-2 - lint/mypy大幅改善完了
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/security/input_validation.py
  kumihan_formatter/core/security/secure_error_handling.py
  kumihan_formatter/core/security/secure_logging.py
  kumihan_formatter/parser.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #876 Phase3 - 大幅mypy改善（20エラー削減）完了
  kumihan_formatter/config/base_config.py
  kumihan_formatter/config/extended_config.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/monitoring.py
  kumihan_formatter/core/optimization/ai_optimization/integration/integration_manager.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/security/secure_error_handling.py
  kumihan_formatter/parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #876 - MyPy/Lint統合修正完了（100%達成）
  kumihan_formatter/cli.py
  kumihan_formatter/config/config_manager.py
  kumihan_formatter/core/block_parser/content_parser.py
  kumihan_formatter/core/block_parser/text_parser.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/security/secure_error_handling.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  kumihan_formatter/gui_controllers/main_controller.py
  kumihan_formatter/parser.py
  kumihan_formatter/parser_legacy/core_parser.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #876 - MyPy/Lint統合修正完了（100%達成） (#877)
  kumihan_formatter/cli.py
  kumihan_formatter/config/base_config.py
  kumihan_formatter/config/config_manager.py
  kumihan_formatter/config/extended_config.py
  kumihan_formatter/core/block_parser/content_parser.py
  kumihan_formatter/core/block_parser/text_parser.py
  kumihan_formatter/core/error_handling/graceful_handler.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/monitoring.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/integration/integration_manager.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/security/input_validation.py
  kumihan_formatter/core/security/secure_error_handling.py
  kumihan_formatter/core/security/secure_logging.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  kumihan_formatter/gui_controllers/main_controller.py
  kumihan_formatter/parser.py
  kumihan_formatter/parser_legacy/core_parser.py
  pyproject.toml
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #876反省 - Gemini協業改善システム実装完了
  .gitignore
  CLAUDE.md
  gemini_reports/SAMPLE_ISSUE876_GEMINI_COLLABORATION.md
  gemini_reports/TEMPLATE_FORMAT.md
  gemini_reports/TEMPLATE_LINT.md
  gemini_reports/TEMPLATE_MYPY.md
  gemini_reports/TOKEN_COST_ANALYSIS.md
  gemini_reports/collaboration_history.json
  gemini_reports/gemini_collaboration_checker.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #876反省 - Gemini協業改善システム実装完了 (#878)
  .gitignore
  CLAUDE.md
  gemini_reports/SAMPLE_ISSUE876_GEMINI_COLLABORATION.md
  gemini_reports/TEMPLATE_FORMAT.md
  gemini_reports/TEMPLATE_LINT.md
  gemini_reports/TEMPLATE_MYPY.md
  gemini_reports/TOKEN_COST_ANALYSIS.md
  gemini_reports/collaboration_history.json
  gemini_reports/gemini_collaboration_checker.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #824 - claude-setup-kitディレクトリを削除
  claude-setup-kit/BEGINNER_GUIDE.md
  claude-setup-kit/INSTALLATION_GUIDE.md
  claude-setup-kit/README.md
  claude-setup-kit/TROUBLESHOOTING.md
  claude-setup-kit/scripts/emergency-fix.sh
  claude-setup-kit/templates/claude_desktop_config.json.template
Due: none

fix: Issue #824 - claude-setup-kitディレクトリを削除 (#879)
  claude-setup-kit/BEGINNER_GUIDE.md
  claude-setup-kit/INSTALLATION_GUIDE.md
  claude-setup-kit/README.md
  claude-setup-kit/TROUBLESHOOTING.md
  claude-setup-kit/scripts/emergency-fix.sh
  claude-setup-kit/templates/claude_desktop_config.json.template
Due: none

feat: Issue #880 - 大規模リファクタリング完了: コア機能統合による技術的負債解消
  gemini_reports/collaboration_history.json
  kumihan_formatter/commands/convert/convert_validator.py
  kumihan_formatter/config/__init__.py
  kumihan_formatter/core/ast_nodes/__init__.py
  kumihan_formatter/core/ast_nodes/factories.py
  kumihan_formatter/core/ast_nodes/node.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/doc_classifier.py
  kumihan_formatter/core/file_operations.py
  kumihan_formatter/core/file_ops.py
  kumihan_formatter/core/io/__init__.py
  kumihan_formatter/core/io/manager.py
  kumihan_formatter/core/io/operations.py
  kumihan_formatter/core/io/protocols.py
  kumihan_formatter/core/io/validators.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/list_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/markdown_parser.py
  kumihan_formatter/core/nested_list_parser.py
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/__init__.py
  kumihan_formatter/core/parsing/base/mixins.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/coordinator.py
  kumihan_formatter/core/parsing/protocols.py
  kumihan_formatter/core/parsing/specialized/__init__.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/unified_config/__init__.py
  kumihan_formatter/simple_config.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #880 - 大規模リファクタリング完了: コア機能統合による技術的負債解消 (#886)
  gemini_reports/collaboration_history.json
  kumihan_formatter/commands/convert/convert_validator.py
  kumihan_formatter/config/__init__.py
  kumihan_formatter/core/ast_nodes/__init__.py
  kumihan_formatter/core/ast_nodes/factories.py
  kumihan_formatter/core/ast_nodes/node.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/doc_classifier.py
  kumihan_formatter/core/file_operations.py
  kumihan_formatter/core/file_ops.py
  kumihan_formatter/core/io/__init__.py
  kumihan_formatter/core/io/manager.py
  kumihan_formatter/core/io/operations.py
  kumihan_formatter/core/io/protocols.py
  kumihan_formatter/core/io/validators.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/list_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/markdown_parser.py
  kumihan_formatter/core/nested_list_parser.py
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/__init__.py
  kumihan_formatter/core/parsing/base/mixins.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/coordinator.py
  kumihan_formatter/core/parsing/protocols.py
  kumihan_formatter/core/parsing/specialized/__init__.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/unified_config/__init__.py
  kumihan_formatter/simple_config.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #880 - 大規模リファクタリング最終修正（Gemini協業）
  gemini_reports/collaboration_history.json
  kumihan_formatter/core/rendering/html_escaping.py
  kumihan_formatter/parser.py
  kumihan_formatter/renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #889 - Claude-Gemini真の協業体制実装・実証完了
  CLAUDE.md
  docs/claude/collaboration-guide.md
  docs/claude/gemini-forced-execution.md
  docs/claude/troubleshooting.md
  gemini_reports/README.md
  gemini_reports/api_config.py
  gemini_reports/claude_gemini_orchestrator.py
  gemini_reports/collaboration_history.json
  gemini_reports/config.json
  gemini_reports/data_processor.py
  gemini_reports/execution_results/task_20250815_145748.json
  gemini_reports/execution_results/task_20250815_145755.json
  gemini_reports/execution_results/task_20250815_151233.json
  gemini_reports/execution_results/task_20250815_151818.json
  gemini_reports/execution_results/task_20250815_151931.json
  gemini_reports/execution_results/task_20250815_160152.json
  gemini_reports/execution_results/task_20250815_160734.json
  gemini_reports/gemini_api_executor.py
  gemini_reports/gemini_executor.py
  gemini_reports/orchestration_log.json
  gemini_reports/report_generator.py
  gemini_reports/utils.py
  gemini_reports/work_instructions/task_20250815_145748.json
  gemini_reports/work_instructions/task_20250815_145755.json
  gemini_reports/work_instructions/task_20250815_151233.json
  gemini_reports/work_instructions/task_20250815_151818.json
  gemini_reports/work_instructions/task_20250815_151931.json
  gemini_reports/work_instructions/task_20250815_160152.json
  gemini_reports/work_instructions/task_20250815_160734.json
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #889 - Claude-Gemini協業システム実装完了 (#890)
  CLAUDE.md
  docs/claude/collaboration-guide.md
  docs/claude/gemini-forced-execution.md
  docs/claude/troubleshooting.md
  gemini_reports/README.md
  gemini_reports/api_config.py
  gemini_reports/claude_gemini_orchestrator.py
  gemini_reports/collaboration_history.json
  gemini_reports/config.json
  gemini_reports/data_processor.py
  gemini_reports/execution_results/task_20250815_145748.json
  gemini_reports/execution_results/task_20250815_145755.json
  gemini_reports/execution_results/task_20250815_151233.json
  gemini_reports/execution_results/task_20250815_151818.json
  gemini_reports/execution_results/task_20250815_151931.json
  gemini_reports/execution_results/task_20250815_160152.json
  gemini_reports/execution_results/task_20250815_160734.json
  gemini_reports/gemini_api_executor.py
  gemini_reports/gemini_executor.py
  gemini_reports/orchestration_log.json
  gemini_reports/report_generator.py
  gemini_reports/utils.py
  gemini_reports/work_instructions/task_20250815_145748.json
  gemini_reports/work_instructions/task_20250815_145755.json
  gemini_reports/work_instructions/task_20250815_151233.json
  gemini_reports/work_instructions/task_20250815_151818.json
  gemini_reports/work_instructions/task_20250815_151931.json
  gemini_reports/work_instructions/task_20250815_160152.json
  gemini_reports/work_instructions/task_20250815_160734.json
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #891 - Gemini協業失敗率削減システム実装完了
  docs/claude/operation-manual.md
  gemini_reports/claude_gemini_orchestrator.py
  gemini_reports/collaboration_history.json
  gemini_reports/execution_results/task_20250815_171306.json
  gemini_reports/failure_patterns.json
  gemini_reports/gemini_api_executor.py
  gemini_reports/orchestration_log.json
  gemini_reports/work_instructions/task_20250815_171306.json
  kumihan_formatter/core/list_parser.py
  kumihan_formatter/parser.py
  kumihan_formatter/streaming_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: PR892テスト失敗修正 - parser_utilsとParserクラス追加
  kumihan_formatter/parser.py
  kumihan_formatter/parser_utils.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #880 - 大規模リファクタリング最終修正（Gemini協業） (#887)
  gemini_reports/collaboration_history.json
  kumihan_formatter/core/rendering/html_escaping.py
  kumihan_formatter/parser.py
  kumihan_formatter/renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #893 - シンプルな協業方式の最適化完了
  CLAUDE.md
Due: claude-md-check

feat: Issue #823 - 技術的負債監視システム完全実装完了
  scripts/tech_debt_monitor.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #823 - 技術的負債監視システム最終修正完了
  CLAUDE.md
  gemini_reports/__init__.py
  gemini_reports/api_config.py
  gemini_reports/claude_gemini_orchestrator.py
  gemini_reports/code_analyzer.py
  gemini_reports/collaboration_history.json
  gemini_reports/environment_validation.json
  gemini_reports/environment_validator.py
  gemini_reports/execution_results/task_20250815_182440.json
  gemini_reports/execution_results/task_20250815_182711.json
  gemini_reports/execution_results/task_20250815_183712.json
  gemini_reports/execution_results/task_20250815_190100.json
  gemini_reports/execution_results/task_20250815_190405.json
  gemini_reports/execution_results/task_20250815_191544.json
  gemini_reports/execution_results/task_20250815_191847.json
  gemini_reports/execution_results/task_20250815_191916.json
  gemini_reports/execution_results/task_20250815_192336.json
  gemini_reports/failure_patterns.json
  gemini_reports/failure_recovery_log.json
  gemini_reports/failure_recovery_system.py
  gemini_reports/halstead.py
  gemini_reports/orchestration_log.json
  gemini_reports/quality_checker.py
  gemini_reports/quality_standards.py
  gemini_reports/quality_validation_history.json
  gemini_reports/recovery_statistics.json
  gemini_reports/report_generator.py
  gemini_reports/task_patterns.json
  gemini_reports/tech_debt_monitor.py
  gemini_reports/work_instructions/task_20250815_182440.json
  gemini_reports/work_instructions/task_20250815_182711.json
  gemini_reports/work_instructions/task_20250815_183712.json
  gemini_reports/work_instructions/task_20250815_190100.json
  gemini_reports/work_instructions/task_20250815_190405.json
  gemini_reports/work_instructions/task_20250815_191544.json
  gemini_reports/work_instructions/task_20250815_191847.json
  gemini_reports/work_instructions/task_20250815_191916.json
  gemini_reports/work_instructions/task_20250815_192336.json
  pyproject.toml
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #823 - Gemini失敗対策システム実装完了 (82%→90%以上成功率向上) (#894)
  CLAUDE.md
  gemini_reports/__init__.py
  gemini_reports/api_config.py
  gemini_reports/claude_gemini_orchestrator.py
  gemini_reports/code_analyzer.py
  gemini_reports/collaboration_history.json
  gemini_reports/environment_validation.json
  gemini_reports/environment_validator.py
  gemini_reports/execution_results/task_20250815_182440.json
  gemini_reports/execution_results/task_20250815_182711.json
  gemini_reports/execution_results/task_20250815_183712.json
  gemini_reports/execution_results/task_20250815_190100.json
  gemini_reports/execution_results/task_20250815_190405.json
  gemini_reports/execution_results/task_20250815_191544.json
  gemini_reports/execution_results/task_20250815_191847.json
  gemini_reports/execution_results/task_20250815_191916.json
  gemini_reports/execution_results/task_20250815_192336.json
  gemini_reports/failure_patterns.json
  gemini_reports/failure_recovery_log.json
  gemini_reports/failure_recovery_system.py
  gemini_reports/halstead.py
  gemini_reports/orchestration_log.json
  gemini_reports/quality_checker.py
  gemini_reports/quality_standards.py
  gemini_reports/quality_validation_history.json
  gemini_reports/recovery_statistics.json
  gemini_reports/report_generator.py
  gemini_reports/task_patterns.json
  gemini_reports/tech_debt_monitor.py
  gemini_reports/work_instructions/task_20250815_182440.json
  gemini_reports/work_instructions/task_20250815_182711.json
  gemini_reports/work_instructions/task_20250815_183712.json
  gemini_reports/work_instructions/task_20250815_190100.json
  gemini_reports/work_instructions/task_20250815_190405.json
  gemini_reports/work_instructions/task_20250815_191544.json
  gemini_reports/work_instructions/task_20250815_191847.json
  gemini_reports/work_instructions/task_20250815_191916.json
  gemini_reports/work_instructions/task_20250815_192336.json
  pyproject.toml
  scripts/tech_debt_monitor.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #893 - シンプルな協業方式の最適化完了 (#896)
  CLAUDE.md
Due: claude-md-check

feat: Issue #898 - rule_enforcement_system.py リファクタリング完了
  .claude-behavioral-control.json
  scripts/rule_enforcement/__init__.py
  scripts/rule_enforcement/behavioral_control.py
  scripts/rule_enforcement/core_enforcement.py
  scripts/rule_enforcement/integrated_system.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #898 - rule_enforcement_system.py リファクタリング完了 (#908)
  .claude-behavioral-control.json
  scripts/rule_enforcement/__init__.py
  scripts/rule_enforcement/behavioral_control.py
  scripts/rule_enforcement/core_enforcement.py
  scripts/rule_enforcement/integrated_system.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #909 - Gemini協業システム最適化完了
  CLAUDE.md
  test_flash25_workflow.py
  tmp/workflow_api_server.py
  tmp/workflow_cli.py
  tmp/workflow_dashboard.py
  tmp/workflow_database.py
  tmp/workflow_engine_api.py
  tmp/workflow_integration.py
  tmp/workflow_orchestrator_generic.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #909 - Gemini協業システム最適化完了 (#910)
  CLAUDE.md
  test_flash25_workflow.py
  tmp/workflow_api_server.py
  tmp/workflow_cli.py
  tmp/workflow_dashboard.py
  tmp/workflow_database.py
  tmp/workflow_engine_api.py
  tmp/workflow_integration.py
  tmp/workflow_orchestrator_generic.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

fix: 型注釈修正
  kumihan_formatter/core/optimization/ai_optimization/ml/ml_models.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

fix: Issue #912 事前準備 - Config系軽微修正
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/config/config_loader.py
  kumihan_formatter/core/config/config_manager.py
  kumihan_formatter/core/config/config_types.py
  kumihan_formatter/core/config/config_validator.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #912 - Parser系統合リファクタリング完了
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/base/parser_protocols.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

feat: Issue #912 - 重複機能統合リファクタリング完了
  kumihan_formatter/core/rendering/__init__.py
  kumihan_formatter/core/rendering/formatters/__init__.py
  kumihan_formatter/core/rendering/formatters/html_formatter.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix
