Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint, kumihan-lint-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ğŸš¨ SERENA-EXPERTå¼·åˆ¶ä½¿ç”¨ãƒã‚§ãƒƒã‚¯ï¼ˆæœ€å„ªå…ˆï¼‰
      - id: claude-serena-check
        name: Claude Serena-Expertä½¿ç”¨å±¥æ­´ãƒã‚§ãƒƒã‚¯
        entry: python tools/claude_serena_precommit.py
        language: python
        stages: [commit]
        files: '^(src/|tests/|docs/|tools/|kumihan_formatter/|.*\.py$|.*\.md$)'
        pass_filenames: false
        always_run: true
        fail_fast: true
        description: "CLAUDE.md P7åŸå‰‡é•åæ¤œå‡º - serena-expertå¿…é ˆä½¿ç”¨ãƒã‚§ãƒƒã‚¯"
      - id: claude-md-check
        name: CLAUDE.md Size & Structure Check
        entry: make claude-check
        language: system
        files: 'CLAUDE\.md$'
        pass_filenames: false
        
      - id: python-lint
        name: Python Linting (Black, isort, flake8, mypy)
        entry: make lint
        language: system
        files: '\.py$'
        pass_filenames: false
        
      - id: kumihan-lint-fix
        name: Kumihan Auto-fix flake8 errors
        entry: python -m kumihan_formatter.cli lint --fix --dry-run
        language: system
        files: '\.py$'
        pass_filenames: true
        description: "Automatically fix common flake8 errors (E501, E226, F401, E704, E702)"
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements

feat: 脚注記法統一化 - Option A完全実装
  docs/dev/architecture.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/MVP_SCOPE.md
  docs/requirements/RELEASE_PLAN.md
  docs/requirements/REQUIREMENTS.md
  docs/specs/notation.md
  examples/special/31_error_patterns.txt
  footnote_test.kumihan
  footnote_test.txt
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/rendering/html_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  test_new_notation.txt
Due: python-lint, kumihan-lint-fix

fix: CI失敗修正 - FootnoteParserテスト削除・isort修正
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  tests/unit/test_keyword_parsing.py
Due: python-lint, kumihan-lint-fix

feat: 脚注記法統一化 - ルビ記法との整合性確保(Option A) (#798)
  docs/dev/architecture.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/MVP_SCOPE.md
  docs/requirements/RELEASE_PLAN.md
  docs/requirements/REQUIREMENTS.md
  docs/specs/notation.md
  examples/special/31_error_patterns.txt
  footnote_test.kumihan
  footnote_test.txt
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/rendering/html_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_validator.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  test_new_notation.txt
  tests/unit/test_keyword_parsing.py
Due: python-lint, kumihan-lint-fix

feat(optimization): トークン使用量60-80%削減 - Issue #801 Phase1実装
  docs/claude/token-optimization-guide.md
  scripts/token-monitor.sh
Due: none

feat: Issue #803 Phase A実装 - 動作検証済み最適化戦略58%削減達成
  docs/claude/serena/phase_a_guide.md
  scripts/phase_a_optimization.py
  scripts/token-monitor.sh
  test_serena_response.json
  token-usage-report.txt
Due: python-lint, kumihan-lint-fix

feat: Issue #803 Phase B完全実装 - Ultra-Think 66.8%削減確実達成
  Issue_803_Phase_B_Complete_Final_Report.md
  docs/claude/serena/phase_a_guide.md
  kumihan_formatter/core/optimization/__init__.py
  kumihan_formatter/core/optimization/adaptive_settings.py
  kumihan_formatter/core/optimization/ai_optimization/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/ai_effect_measurement.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous_controller.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/learning_system.py
  kumihan_formatter/core/optimization/ai_optimization/phase_b4_beta_integrator.py
  kumihan_formatter/core/optimization/ai_optimization/prediction_engine.py
  kumihan_formatter/core/optimization/phase_b_integrator.py
  kumihan_formatter/core/utilities/performance_metrics.py
  pyproject.toml
  tests/phase_b1_integration_test.py
  tests/results/phase_b1_test_results_20250805_203810.json
  tests/results/phase_b1_test_results_20250805_232252.json
Due: python-lint, kumihan-lint-fix

feat: Issue #804 Phase B.4 AI駆動型最適化システム基盤構築完了
  .claude-ai-integration.yml
  .claude-config.yml
  .claude-mcp-efficiency.yml
  .claude_md_config.yaml
  CLAUDE.md
  Issue_804_Efficiency_Analysis_Final_Report.md
  docs/claude/reference.md
  docs/dev/architecture.md
  docs/specs/functional.md
Due: claude-md-check

feat: Issue #804 Phase B.4 AI駆動型最適化システム基盤構築完了 (#805)
  .claude-ai-integration.yml
  .claude-config.yml
  .claude-mcp-efficiency.yml
  .claude_md_config.yaml
  CLAUDE.md
  Issue_803_Phase_B_Complete_Final_Report.md
  Issue_804_Efficiency_Analysis_Final_Report.md
  docs/claude/reference.md
  docs/claude/serena/phase_a_guide.md
  docs/dev/architecture.md
  docs/specs/functional.md
  kumihan_formatter/core/optimization/__init__.py
  kumihan_formatter/core/optimization/adaptive_settings.py
  kumihan_formatter/core/optimization/ai_optimization/__init__.py
  kumihan_formatter/core/optimization/ai_optimization/ai_effect_measurement.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous_controller.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/learning_system.py
  kumihan_formatter/core/optimization/ai_optimization/phase_b4_beta_integrator.py
  kumihan_formatter/core/optimization/ai_optimization/prediction_engine.py
  kumihan_formatter/core/optimization/phase_b_integrator.py
  kumihan_formatter/core/utilities/performance_metrics.py
  pyproject.toml
  scripts/phase_a_optimization.py
  scripts/token-monitor.sh
  test_serena_response.json
  tests/phase_b1_integration_test.py
  tests/results/phase_b1_test_results_20250805_203810.json
  tests/results/phase_b1_test_results_20250805_232252.json
  token-usage-report.txt
Due: claude-md-check, python-lint, kumihan-lint-fix

feat: Issue #804 AI駆動型最適化システム完成 - 68.8%Token削減達成
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/commands/lint.py
  kumihan_formatter/core/config/config_loader.py
  kumihan_formatter/core/config/config_manager.py
  kumihan_formatter/core/error_analysis/statistics_generator.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/markdown_renderer.py
  kumihan_formatter/core/optimization/adaptive_settings.py
  kumihan_formatter/core/optimization/ai_optimization/ai_effect_measurement.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous_controller.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/learning_system.py
  kumihan_formatter/core/optimization/ai_optimization/phase_b4_beta_integrator.py
  kumihan_formatter/core/optimization/phase_b_integrator.py
  pyproject.toml
Due: python-lint, kumihan-lint-fix

fix: GitHub Actions CI failures - test fixes for Issue #807
  tests/unit/test_cli_commands.py
Due: python-lint, kumihan-lint-fix

fix: Resolve all GitHub Actions test failures in test_cli_commands.py
  tests/unit/test_cli_commands.py
Due: python-lint, kumihan-lint-fix

fix: プロジェクトファイル管理の最適化 - 外部ツール設定除外とクリーンアップ
  .claude/settings.local.json
  .gitignore
  .mcp.json
  .serena/memories/Issue_803_Phase_B4_AI_System_Technical_Design.md
  .serena/memories/code_style_conventions.html
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/footnote_test_implementation_plan.md
  .serena/memories/issue_803_phase_b4_comprehensive_strategy.md
  .serena/memories/issue_803_phase_b_final_verification_report.md
  .serena/memories/kumihan_notation_mass_fix_guide.md
  .serena/memories/notation_system.md
  .serena/memories/phase_b4_technical_requirements_analysis.md
  .serena/memories/phase_b_implementation_strategy.md
  .serena/memories/phase_b_technical_validation_report.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_requirements.md
  .serena/memories/toc_generator_test_requirements.md
  .serena/project.yml
  uv.lock
Due: none

feat: claude-setup-kitにSerena最適化設定継承システム追加
  claude-setup-kit/README.md
  claude-setup-kit/TROUBLESHOOTING.md
  claude-setup-kit/scripts/install-serena-local.sh
  claude-setup-kit/scripts/monitor-serena-efficiency.sh
  claude-setup-kit/scripts/setup-serena-optimization.sh
  claude-setup-kit/scripts/verify-optimization.sh
  claude-setup-kit/templates/mcp_serena_optimized.json.template
  claude-setup-kit/templates/serena_project.yml.template
Due: none

feat: Serenaダッシュボード自動オープンスクリプト追加
  scripts/open-serena-dashboard.sh
Due: none

remove: ダッシュボードオープナースクリプト削除
  scripts/open-serena-dashboard.sh
Due: none

fix: プロジェクトファイル管理の最適化とclaude-setup-kit強化 (#811)
  .claude/settings.local.json
  .gitignore
  .mcp.json
  .serena/memories/Issue_803_Phase_B4_AI_System_Technical_Design.md
  .serena/memories/code_style_conventions.html
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/footnote_test_implementation_plan.md
  .serena/memories/issue_803_phase_b4_comprehensive_strategy.md
  .serena/memories/issue_803_phase_b_final_verification_report.md
  .serena/memories/kumihan_notation_mass_fix_guide.md
  .serena/memories/notation_system.md
  .serena/memories/phase_b4_technical_requirements_analysis.md
  .serena/memories/phase_b_implementation_strategy.md
  .serena/memories/phase_b_technical_validation_report.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_requirements.md
  .serena/memories/toc_generator_test_requirements.md
  claude-setup-kit/README.md
  claude-setup-kit/TROUBLESHOOTING.md
  claude-setup-kit/scripts/install-serena-local.sh
  claude-setup-kit/scripts/monitor-serena-efficiency.sh
  claude-setup-kit/scripts/setup-serena-optimization.sh
  claude-setup-kit/scripts/verify-optimization.sh
  claude-setup-kit/templates/mcp_serena_optimized.json.template
  claude-setup-kit/templates/serena_project.yml.template
  uv.lock
Due: none

fix: Issue #809 - lint エラー127件修正とPython 3.12互換性改善
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_watcher.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/optimization/adaptive_settings.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous_controller.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/learning_system.py
  kumihan_formatter/core/optimization/ai_optimization/phase_b4_beta_integrator.py
  kumihan_formatter/core/optimization/phase_b_integrator.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/utilities/error_recovery.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/secure_error_handler.py
  kumihan_formatter/core/validators/performance_validator.py
  kumihan_formatter/parser.py
  kumihan_formatter/ui/console_encoding.py
  pyproject.toml
Due: python-lint, kumihan-lint-fix

fix: mypy正規表現エラー解決とflake8完全通過達成
  kumihan_formatter/core/rendering/main_renderer.py
  pyproject.toml
Due: python-lint, kumihan-lint-fix

fix: mypy正規表現エラーの真の根本解決完了
  pyproject.toml
Due: none

fix: PR #812 CI失敗修正 - TOCFormatter不足メソッド追加と統一設定システム修正
  kumihan_formatter/core/toc_formatter.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  tests/unit/test_toc_formatter.py
  tests/unit/test_unified_config_system.py
Due: python-lint, kumihan-lint-fix

fix: Resolve TOCValidator AttributeError for dictionary access
  kumihan_formatter/core/toc_validator.py
Due: python-lint, kumihan-lint-fix

fix: Issue #809 - lint エラー127件修正とPython 3.12互換性改善 (#812)
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_watcher.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/optimization/adaptive_settings.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous_controller.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/learning_system.py
  kumihan_formatter/core/optimization/ai_optimization/phase_b4_beta_integrator.py
  kumihan_formatter/core/optimization/phase_b_integrator.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/toc_formatter.py
  kumihan_formatter/core/toc_validator.py
  kumihan_formatter/core/unified_config/config_adapters.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/config_models.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  kumihan_formatter/core/utilities/error_recovery.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/secure_error_handler.py
  kumihan_formatter/core/validators/performance_validator.py
  kumihan_formatter/parser.py
  kumihan_formatter/ui/console_encoding.py
  pyproject.toml
  tests/unit/test_toc_formatter.py
  tests/unit/test_unified_config_system.py
Due: python-lint, kumihan-lint-fix

feat: CLAUDE.md段階制限システム実装で肥大化を適切に管理
  .claude_md_config.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  scripts/claude_md_dashboard.py
  scripts/claude_md_manager.py
Due: claude-md-check, python-lint, kumihan-lint-fix

refactor: 技術的負債修正 - 重複エラークラス統一・廃止ファイル削除
  kumihan_formatter/gui_controller.py
  kumihan_formatter/gui_views.py
Due: python-lint, kumihan-lint-fix

fix: CI失敗対応 - import名修正
  kumihan_formatter/core/optimization/phase_b/__init__.py
  kumihan_formatter/core/toc_generator.py
Due: python-lint, kumihan-lint-fix

fix: Issue #828 - mypy strict mode大幅改善 120→19件削減達成
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/commands/convert/convert_validator.py
  kumihan_formatter/config/__init__.py
  kumihan_formatter/core/block_parser/content_parser.py
  kumihan_formatter/core/block_parser/marker_parser.py
  kumihan_formatter/core/block_parser/text_parser.py
  kumihan_formatter/core/keyword_parsing/parsers/attribute_parser.py
  kumihan_formatter/core/keyword_parsing/parsers/base_parser.py
  kumihan_formatter/core/keyword_parsing/parsers/content_parser.py
  kumihan_formatter/core/keyword_parsing/parsers/keyword_parser.py
  kumihan_formatter/core/optimization/ai_optimization/ai_integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/ai_optimizer_core.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/monitoring.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/integration/beta_core.py
  kumihan_formatter/core/optimization/ai_optimization/integration/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/learning/pattern_engine.py
  kumihan_formatter/core/optimization/ai_optimization/prediction_engine.py
  kumihan_formatter/core/optimization/phase_b/integrator.py
  kumihan_formatter/core/optimization/settings/optimizers.py
  kumihan_formatter/core/optimization/settings/settings_optimizers.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/unified_config/config_loader.py
  kumihan_formatter/core/unified_config/unified_config_manager.py
  kumihan_formatter/gui_controllers/main_controller.py
  kumihan_formatter/parser.py
  kumihan_formatter/parser_legacy/core_parser.py
  kumihan_formatter/renderer.py
  kumihan_formatter/streaming_parser.py
  kumihan_formatter/ui/console_ui.py
Due: python-lint, kumihan-lint-fix

fix: Issue #828 完全解決 - mypy strict mode 100%適合達成 (120→0件)
  kumihan_formatter/core/block_parser/content_parser.py
  kumihan_formatter/core/block_parser/marker_parser.py
  kumihan_formatter/core/block_parser/text_parser.py
  kumihan_formatter/core/optimization/ai_optimization/autonomous/monitoring.py
  kumihan_formatter/core/optimization/ai_optimization/basic_ml_system.py
  kumihan_formatter/core/optimization/ai_optimization/integration/beta_core.py
  kumihan_formatter/core/optimization/ai_optimization/integration/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/learning/core.py
  kumihan_formatter/core/optimization/ai_optimization/learning/pattern_engine.py
  kumihan_formatter/core/optimization/settings/ab_testing.py
  kumihan_formatter/core/optimization/settings/manager.py
  kumihan_formatter/core/optimization/settings/settings_optimizers.py
  kumihan_formatter/parser.py
Due: python-lint, kumihan-lint-fix

fix: Issue #828 - mypy型エラー大幅修正とコード品質向上完了
  kumihan_formatter/core/optimization/settings/settings_optimizers.py
Due: python-lint, kumihan-lint-fix

fix: CLAUDE.mdサイズ制限対応 - 313→203行へ圧縮・Gemini詳細を外部化
  CLAUDE.md
  docs/claude/gemini-collaboration.md
Due: claude-md-check

fix: CLAUDE.mdサイズ制限緩和 - CI過度制約の修正
  .github/workflows/claude-md-management.yml
Due: none
