Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint

claude-md-check:
  name: CLAUDE.md Size & Structure Check
  entry: make claude-check
  language: system
  pass_filenames: false

python-lint:
  name: Python Linting (Black, isort, flake8, mypy)
  entry: make lint
  language: system
  pass_filenames: false

fix: Issue #713 - Kumihan記法パーサーの改善: 複雑記法パターンの構文エラー大量発生問題
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
Due: python-lint

fix: Issue #713 - Kumihan記法パーサーの改善: 複雑記法パターンの構文エラー大量発生問題 (#720)
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
Due: python-lint

fix: 構文エラー修正 - performance_metrics.py と progress_manager.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
Due: python-lint

fix: 構文エラー修正 - performance_metrics.py と progress_manager.py (#722)
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
Due: python-lint

feat: Issue #661 完全実装 - ルビ記法対応とモバイル対応記法改善
  CLAUDE.md
  comprehensive_ruby_test.txt
  debug_ruby.txt
  debug_ruby_test.txt
  docs/ARCHITECTURE.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/REQUIREMENTS.md
  docs/specifications/NOTATION_SPEC.md
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  ruby_test.txt
  samples/basic/03_advanced_features.txt
  tests/unit/test_compound_notation.py
Due: claude-md-check, python-lint

fix: update GitHub Actions to use upload-artifact@v4
  .github/workflows/claude-md-management.yml
Due: none

feat: Issue #661 完全実装 - ルビ記法対応とモバイル対応記法改善 (#723)
  .github/workflows/claude-md-management.yml
  CLAUDE.md
  comprehensive_ruby_test.txt
  debug_ruby.txt
  debug_ruby_test.txt
  docs/ARCHITECTURE.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/REQUIREMENTS.md
  docs/specifications/NOTATION_SPEC.md
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  ruby_test.txt
  samples/basic/03_advanced_features.txt
  tests/unit/test_compound_notation.py
Due: claude-md-check, python-lint

docs: Issue #658 - 既存ドキュメントの更新
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/REFERENCE.md
  docs/USER_GUIDE.md
Due: claude-md-check

docs: Issue #658 - 既存ドキュメントの更新 (#724)
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/REFERENCE.md
  docs/USER_GUIDE.md
Due: claude-md-check

fix: コードレビュー指摘事項修正 - 構文エラー・色名統一・マーカー整合性
  samples/basic/02_all_notations.txt
  samples/performance/11_complex_nested_5k.txt
Due: none

feat: Issue #727 StreamingParser強化 - タイムアウト・エラー処理・メモリリーク対策
  kumihan_formatter/parser.py
  scripts/demo_performance_optimization.py
  scripts/generate_300k_html.py
  scripts/sample_usage_examples.py
Due: python-lint

feat: Issue #727 StreamingParser強化 - タイムアウト・エラー処理・メモリリーク対策 (#730)
  kumihan_formatter/parser.py
  scripts/demo_performance_optimization.py
  scripts/generate_300k_html.py
  scripts/sample_usage_examples.py
Due: python-lint

feat: Issue #727 パフォーマンス最適化システム実装
  .gitignore
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
Due: python-lint

chore: 開発ツール整理とテスト出力ディレクトリ構成
  kumihan_formatter/core/block_parser/image_block_parser.py
  kumihan_formatter/core/block_parser/special_block_parser.py
  kumihan_formatter/core/keyword_parser.py
  scripts/complete_300k_test.py
  scripts/dev_tools/issue_699_performance_test.py
  scripts/dev_tools/performance_benchmark.py
  scripts/dev_tools/ultra_fast_processor.py
  scripts/dev_tools/ultra_large_processor.py
  scripts/generate_html_sample.py
  test_notation_validator.py
Due: python-lint

fix: Issue #727 - コードレビュー対応完了 - セキュリティ・保守性・信頼性強化
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
Due: python-lint

feat: Issue #727 - パフォーマンス最適化システム実装 (#737)
  .gitignore
  kumihan_formatter/core/block_parser/image_block_parser.py
  kumihan_formatter/core/block_parser/special_block_parser.py
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  scripts/complete_300k_test.py
  scripts/dev_tools/issue_699_performance_test.py
  scripts/dev_tools/performance_benchmark.py
  scripts/dev_tools/ultra_fast_processor.py
  scripts/dev_tools/ultra_large_processor.py
  scripts/generate_html_sample.py
  test_notation_validator.py
Due: python-lint

fix: Issue #726 対応漏れ修正とテスト改善
  generate_large_sample.py
  tests/unit/test_basic_notation.py
Due: python-lint

feat: Issue #727 パフォーマンス最適化システム実装
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
Due: python-lint

feat: Issue #726 完全実装 - Kumihan記法システムv3.0.0完全統一
  tests/unit/test_basic_notation.py
Due: python-lint

fix: Issue #726 - 大規模構文エラー完全修正とツール統合
  samples/performance/11_complex_nested_5k.txt
  samples/performance/12_heavy_decoration_7k.txt
  samples/practical/21_technical_manual.txt
  tools/fix_kumihan_notation_errors.py
Due: python-lint

fix: Issue #726 対応漏れ修正とテスト改善
  tests/unit/test_basic_notation.py
Due: python-lint

fix: Issue #726 - 大規模構文エラー完全修正とツール統合 (#739)
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  samples/performance/11_complex_nested_5k.txt
  samples/performance/12_heavy_decoration_7k.txt
  samples/practical/21_technical_manual.txt
  tools/fix_kumihan_notation_errors.py
Due: python-lint

chore: アーカイブディレクトリ追加 - 旧修正スクリプト保管
  archive/fix_complex_nested.py
  archive/fix_complex_nested_v2.py
  archive/fix_complex_nested_v3.py
  archive/fix_final_2.py
  archive/fix_final_30.py
  archive/fix_final_complete.py
  archive/fix_final_remaining_83.py
  archive/fix_heavy_decoration.py
  archive/fix_heavy_decoration_v2.py
  archive/fix_heavy_decoration_v3.py
  archive/fix_performance_samples.py
Due: python-lint

docs: Issue管理ルール追加 - ラベル付与必須化
  CLAUDE.md
Due: claude-md-check

docs: Issue管理ルール追加 - ラベル付与必須化 (#740)
  CLAUDE.md
  archive/fix_complex_nested.py
  archive/fix_complex_nested_v2.py
  archive/fix_complex_nested_v3.py
  archive/fix_final_2.py
  archive/fix_final_30.py
  archive/fix_final_complete.py
  archive/fix_final_remaining_83.py
  archive/fix_heavy_decoration.py
  archive/fix_heavy_decoration_v2.py
  archive/fix_heavy_decoration_v3.py
  archive/fix_performance_samples.py
Due: claude-md-check, python-lint

feat: Issue #657完了 - MVPスコープ確定と個人開発対応
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/DOCUMENT_INTEGRATION_REPORT.md
  docs/requirements/ISSUE_657_COMPLETION_SUMMARY.md
  docs/requirements/MVP_CHECKLIST.md
  docs/requirements/MVP_SCOPE.md
  docs/requirements/RELEASE_PLAN.md
Due: none

feat: Issue #657完了 - MVPスコープ確定と個人開発対応 (#741)
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/DOCUMENT_INTEGRATION_REPORT.md
  docs/requirements/ISSUE_657_COMPLETION_SUMMARY.md
  docs/requirements/MVP_CHECKLIST.md
  docs/requirements/MVP_SCOPE.md
  docs/requirements/RELEASE_PLAN.md
Due: none

fix: Issue #728 - parse_streaming_from_text緊急実装でMVP機能ブロック解除
  kumihan_formatter/parser.py
Due: python-lint

fix: Issue #728 - parse_streaming_from_text緊急実装でMVP機能ブロック解除 (#742)
  kumihan_formatter/parser.py
Due: python-lint

fix: Issue #743 - テスト実行エラー緊急修正完了
  pyproject.toml
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
  tests/performance/test_memory_leak_prevention.py
Due: python-lint

fix: Issue #743 - テスト実行エラー緊急修正完了 (#744)
  pyproject.toml
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
  tests/performance/test_memory_leak_prevention.py
Due: python-lint

refactor: Issue #745 - プロジェクトルートディレクトリの整理
  .gitignore
  comprehensive_ruby_test.txt
  debug_ruby.txt
  debug_ruby_test.txt
  docs/reports/TEST_RESULTS_REPORT.md
  ruby_test.txt
  sample_output/images/character.png
  sample_output/images/flowchart.png
  sample_output/images/item_icon.png
  sample_output/images/scenario_map.png
  sample_output/showcase.txt
  scripts/generate_large_sample.py
  scripts/notation_validator.py
Due: python-lint

Path conditions:
  claude-md-check: any of: CLAUDE\.md$
  python-lint: any of: \.py$
