Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint

claude-md-check:
  name: CLAUDE.md Size & Structure Check
  entry: make claude-check
  language: system
  pass_filenames: false

python-lint:
  name: Python Linting (Black, isort, flake8, mypy)
  entry: make lint
  language: system
  pass_filenames: false

feat: Issue #686 完全実装 - 3-Phase CLAUDE.md管理システム (#688)
  .claude_md_config.yaml
  .claude_md_history.json
  .github/workflows/claude-md-management.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README_CLAUDE_MD_MANAGEMENT.md
  docs/claude_md_checklist.md
  kumihan_formatter/core/keyword_parsing/definitions.py
  scripts/claude_md_dashboard.py
  scripts/claude_md_manager.py
  scripts/issue_completion_integration.py
Due: claude-md-check, python-lint

feat: Issue #687完全実装 - Serena MCP Server最適化システム
  docs/SERENA_OPTIMIZATION.md
  scripts/serena_monitor.sh
  scripts/serena_optimization.py
Due: python-lint

chore: Issue #690 - ルートディレクトリの整理
  docs/CLAUDE_SERENA_README.md
  docs/README_CLAUDE_MD_MANAGEMENT.md
  docs/issues/issue_653_report.md
  docs/issues/unified_issue_652_653.md
  start-claude-serena.sh
  tests/manual/compound_test.txt
  tests/manual/notation_test.txt
  tests/manual/phase2_layout_test.txt
  tests/manual/simple_phase2.txt
  tests/manual/simple_test.txt
  tests/manual/test_block.txt
  tests/manual/test_color_mixing.txt
  tests/manual/test_improvements.txt
  tests/manual/test_mixing.txt
  tests/manual/test_new_notation.txt
  tests/manual/test_notation.txt
  tests/manual/test_phase2_verification.txt
  tests/manual/test_phase2_verification_errors.txt
Due: none

docs: CONTRIBUTING.md追加 - ファイル配置ルール策定
  CONTRIBUTING.md
Due: none

feat: 日本語Issueテンプレート実装 - 英語Issue作成問題の完全解決
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/performance-issue.yml
Due: none

feat: 日本語Issueテンプレート実装 - 英語Issue作成問題の完全解決 (#696)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/performance-issue.yml
Due: none

fix: Issue #693 - Resolve critical performance bottleneck in BlockParser
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  test_performance_fix.py
Due: python-lint

feat: Issue #694 - 大容量ファイル処理パフォーマンス最適化の完全実装
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/keyword_parsing/__init__.py
  kumihan_formatter/core/keyword_parsing/keyword_registry.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  kumihan_formatter/core/utilities/css_utils.py
  kumihan_formatter/core/utilities/error_recovery.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
  kumihan_formatter/parser.py
  sample_01_simple.txt
  sample_02_complex.txt
  sample_03_coc_scenario.txt
  sample_output/images/character.png
  sample_output/images/flowchart.png
  sample_output/images/item_icon.png
  sample_output/images/scenario_map.png
  sample_output/showcase.txt
  sample_showcase.txt
  simple_test.txt
  test_10mb_performance.py
  test_large_file_performance.py
  tests/performance/README.md
  tests/performance/test_large_file_performance.py
  tests/performance/test_memory_leak_prevention.py
Due: python-lint

feat: Issue #693/#694 - 大容量ファイル処理パフォーマンス最適化の完全実装 (#697)
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/keyword_parsing/__init__.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/keyword_registry.py
  kumihan_formatter/core/rendering/element_renderer.py
  kumihan_formatter/core/syntax/syntax_validator.py
  kumihan_formatter/core/utilities/css_utils.py
  kumihan_formatter/core/utilities/error_recovery.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
  kumihan_formatter/parser.py
  sample_01_simple.txt
  sample_02_complex.txt
  sample_03_coc_scenario.txt
  sample_output/images/character.png
  sample_output/images/flowchart.png
  sample_output/images/item_icon.png
  sample_output/images/scenario_map.png
  sample_output/showcase.txt
  sample_showcase.txt
  simple_test.txt
  test_10mb_performance.py
  test_large_file_performance.py
  test_performance_fix.py
  tests/performance/README.md
  tests/performance/test_large_file_performance.py
  tests/performance/test_memory_leak_prevention.py
Due: python-lint

feat: Issue #695 完全実装 - プログレス表示改善・インタラクティブ機能強化
  README.md
  docs/USER_GUIDE.md
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/utilities/progress_manager.py
  pyproject.toml
  tests/unit/test_progress_manager.py
Due: python-lint

feat: Issue #695 完全実装 - プログレス表示改善・インタラクティブ機能強化 (#698)
  README.md
  docs/USER_GUIDE.md
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/utilities/progress_manager.py
  pyproject.toml
  tests/unit/test_progress_manager.py
Due: python-lint

feat: Issue #693/#694 - 大容量ファイル処理パフォーマンス最適化の完全実装 (#697)
  01_basic_features.txt
  02_intermediate_features.txt
  03_advanced_features.txt
  10_performance_1k.txt
  11_performance_5k.txt
  12_performance_complex.txt
  20_technical_doc.txt
  21_tutorial.txt
  22_business_doc.txt
  23_creative_content.txt
  30_edge_cases.txt
  31_error_patterns.txt
  32_unicode_test.txt
  TEST_RESULTS_REPORT.md
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
Due: python-lint

refactor: Issue #699 サンプルファイル整理 - samples/ディレクトリ構造化
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  debug_parser_simple.py
  debug_performance.py
  mini_test.txt
  samples/basic/01_basic_features.txt
  samples/basic/02_intermediate_features.txt
  samples/basic/03_advanced_features.txt
  samples/edge_cases/30_edge_cases.txt
  samples/edge_cases/31_error_patterns.txt
  samples/edge_cases/32_unicode_test.txt
  samples/performance/10_performance_1k.txt
  samples/performance/11_performance_5k.txt
  samples/performance/12_performance_complex.txt
  samples/practical/20_technical_doc.txt
  samples/practical/21_tutorial.txt
  samples/practical/22_business_doc.txt
  samples/practical/23_creative_content.txt
  simple_test.txt
  test_basic_small.txt
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
Due: python-lint

refactor: Issue #699 サンプルファイル整理 - samples/ディレクトリ構造化 (#701)
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  TEST_RESULTS_REPORT.md
  debug_parser_simple.py
  debug_performance.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  mini_test.txt
  samples/basic/01_basic_features.txt
  samples/basic/02_intermediate_features.txt
  samples/basic/03_advanced_features.txt
  samples/edge_cases/30_edge_cases.txt
  samples/edge_cases/31_error_patterns.txt
  samples/edge_cases/32_unicode_test.txt
  samples/performance/10_performance_1k.txt
  samples/performance/11_performance_5k.txt
  samples/performance/12_performance_complex.txt
  samples/practical/20_technical_doc.txt
  samples/practical/21_tutorial.txt
  samples/practical/22_business_doc.txt
  samples/practical/23_creative_content.txt
  simple_test.txt
  test_basic_small.txt
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
Due: python-lint

feat: Issue #700 Phase1実装 - graceful error handling基本機能
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/common/error_base.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/core/utilities/css_utils.py
  kumihan_formatter/core/utilities/error_recovery.py
  kumihan_formatter/core/utilities/parallel_processor.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
  kumihan_formatter/parser.py
  kumihan_formatter/templates/partials/graceful-errors.css
  tests/test_graceful_error_handling.py
Due: python-lint

feat: Issue #700 Phase2実装 - 高度なエラー表示機能
  kumihan_formatter/core/common/error_base.py
  kumihan_formatter/core/error_analysis/__init__.py
  kumihan_formatter/core/error_analysis/correction_engine.py
  kumihan_formatter/core/error_analysis/statistics_generator.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/parser.py
  kumihan_formatter/templates/partials/graceful-errors.css
  tests/test_phase2_advanced_error_handling.py
Due: python-lint

feat: Issue #700 完全実装 - graceful error handling機能
  debug_parser.py
  debug_parser_detailed.py
  kumihan_formatter/cli.py
  kumihan_formatter/commands/convert/convert_command.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/error_analysis/error_config.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/parser.py
  test_graceful_errors.txt
  test_normal_sample.txt
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
  test_output/test_color_mixing_errors.txt
  test_output/test_mixing_errors.txt
Due: python-lint

fix: ハイライトブロック色制御機能の修正と改善
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/templates/partials/blocks.css
Due: python-lint

fix: 改行表示問題とエラー処理の修正
  .mcp.json
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  CLAUDE.md
  debug_parser.py
  debug_parser_detailed.py
  debug_parser_simple.py
  debug_performance.py
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/error_analysis/statistics_generator.py
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/markdown_renderer.py
  kumihan_formatter/core/rendering/html_content_processor.py
  kumihan_formatter/core/rendering/main_renderer.py
  mini_test.txt
  sample_output/images/character.png
  sample_output/images/flowchart.png
  sample_output/images/item_icon.png
  sample_output/images/scenario_map.png
  sample_output/showcase.txt
  samples/text/sample_01_simple.txt
  samples/text/sample_02_complex.txt
  samples/text/sample_03_coc_scenario.txt
  samples/text/sample_showcase.txt
  samples/text/test_normal_sample.txt
  simple_test.txt
  test_10mb_performance.py
  test_basic_small.txt
  test_graceful_errors.txt
  test_large_file_performance.py
  test_performance_fix.py
Due: claude-md-check, python-lint

fix: コードブロック・引用・リストネスト構造の修正と改善
  .gitignore
  kumihan_formatter/core/keyword_parsing/definitions.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/templates/partials/blocks.css
Due: python-lint

test: 改行表示・エラー処理修正用テストファイル追加
  samples/text/color_test_sample.txt
  samples/text/list_test_sample.txt
  samples/text/scenario_sample.txt
  test_fixes.txt
Due: none

docs: AI運用7原則P7更新 - MCP優先使用方針の明確化
  CLAUDE.md
Due: claude-md-check

feat: Issue #693/#694 - 大容量ファイル処理パフォーマンス最適化の完全実装 (#697)
  01_basic_features.txt
  02_intermediate_features.txt
  03_advanced_features.txt
  10_performance_1k.txt
  11_performance_5k.txt
  12_performance_complex.txt
  20_technical_doc.txt
  21_tutorial.txt
  22_business_doc.txt
  23_creative_content.txt
  30_edge_cases.txt
  31_error_patterns.txt
  32_unicode_test.txt
  kumihan_formatter/core/block_parser/block_parser.py
Due: python-lint

refactor: Issue #699 サンプルファイル整理 - samples/ディレクトリ構造化
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  02_intermediate_features.txt
  03_advanced_features.txt
  10_performance_1k.txt
  11_performance_5k.txt
  12_performance_complex.txt
  20_technical_doc.txt
  21_tutorial.txt
  22_business_doc.txt
  23_creative_content.txt
  30_edge_cases.txt
  31_error_patterns.txt
  32_unicode_test.txt
  debug_parser_simple.py
  debug_performance.py
  mini_test.txt
  test_basic_small.txt
  test_output/02_intermediate_features_errors.txt
  test_output/03_advanced_features_errors.txt
  test_output/10_performance_1k_errors.txt
  test_output/32_unicode_test_errors.txt
Due: python-lint

feat: Issue #693/#694 - 大容量ファイル処理パフォーマンス最適化 (#707)
  kumihan_formatter/commands/convert/convert_processor.py
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/utilities/performance_metrics.py
  kumihan_formatter/core/utilities/progress_manager.py
  kumihan_formatter/parser.py
  sample_01_simple.txt
  sample_02_complex.txt
  sample_03_coc_scenario.txt
  sample_output/images/character.png
  sample_output/images/flowchart.png
  sample_output/images/item_icon.png
  sample_output/images/scenario_map.png
  sample_output/showcase.txt
  sample_showcase.txt
  simple_test.txt
  test_10mb_performance.py
  test_large_file_performance.py
  test_performance_fix.py
Due: python-lint

fix: ブロック終了マーカー##がキーワード解析を妨害する問題を修正
  kumihan_formatter/core/keyword_parsing/marker_parser.py
Due: python-lint

fix: ブロック終了マーカー##がキーワード解析を妨害する問題を修正 (#714)
  kumihan_formatter/core/keyword_parsing/marker_parser.py
Due: python-lint

feat: Issue #706 - 新リスト記法とネスト機能の完全実装
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/parsing_coordinator.py
  kumihan_formatter/core/rendering/element_renderer.py
  samples/basic/02_intermediate_features.txt
Due: python-lint

feat: Issue #706 - 新リスト記法とネスト機能の完全実装 (#715)
  kumihan_formatter/core/block_parser/block_parser.py
  kumihan_formatter/core/list_parser_core.py
  kumihan_formatter/core/parsing_coordinator.py
  kumihan_formatter/core/rendering/element_renderer.py
  samples/basic/02_intermediate_features.txt
Due: python-lint

feat: Issue #706 インライン記法パースとエラーハンドリング改善
  docs/issues/issue_706_inline_syntax_analysis.md
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/utilities/progress_manager.py
Due: python-lint

feat: Issue #706 インライン記法パースとエラーハンドリング改善 (#716)
  docs/issues/issue_706_inline_syntax_analysis.md
  kumihan_formatter/core/keyword_parser.py
  kumihan_formatter/core/keyword_parsing/marker_parser.py
  kumihan_formatter/core/utilities/progress_manager.py
Due: python-lint

feat: プロジェクトルート整理 - tmpディレクトリによるテストファイル管理改善
  .gitignore
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  debug_parser_simple.py
  debug_performance.py
  mini_test.txt
  sample_01_simple.txt
  sample_02_complex.txt
  sample_03_coc_scenario.txt
  sample_showcase.txt
  samples/inline_notation_showcase.txt
  simple_test.txt
  test_10mb_performance.py
  test_basic_small.txt
  test_fixes.txt
  test_large_file_performance.py
  test_performance_fix.py
Due: python-lint

feat: プロジェクトルート整理 - tmpディレクトリによるテストファイル管理改善 (#717)
  .gitignore
  01_basic_features_fixed.txt
  01_basic_features_safe.txt
  debug_parser_simple.py
  debug_performance.py
  mini_test.txt
  sample_01_simple.txt
  sample_02_complex.txt
  sample_03_coc_scenario.txt
  sample_showcase.txt
  samples/inline_notation_showcase.txt
  simple_test.txt
  test_10mb_performance.py
  test_basic_small.txt
  test_fixes.txt
  test_large_file_performance.py
  test_performance_fix.py
Due: python-lint

docs: Issue #718 - ドキュメント整合性問題の修正
  docs/ARCHITECTURE.md
  docs/USER_GUIDE.md
  docs/issues/unified_issue_652_653.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/REQUIREMENTS.md
  docs/requirements/USER_STORIES.md
  docs/specifications/NOTATION_SPEC.md
Due: none

docs: 対応漏れ修正 - alt属性の完全除去
  docs/specifications/NOTATION_SPEC.md
Due: none

docs: Issue #718 - ドキュメント整合性問題の修正 (#719)
  docs/ARCHITECTURE.md
  docs/USER_GUIDE.md
  docs/issues/unified_issue_652_653.md
  docs/requirements/ACCEPTANCE_CRITERIA.md
  docs/requirements/REQUIREMENTS.md
  docs/requirements/USER_STORIES.md
  docs/specifications/NOTATION_SPEC.md
Due: none

Path conditions:
  claude-md-check: any of: CLAUDE\.md$
  python-lint: any of: \.py$
