Repository mo9mo9-uwu-mo9mo9/Kumihan-Formatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

claude-md-check:
  name: CLAUDE.md Size & Structure Check
  entry: make claude-check
  language: system
  pass_filenames: false

python-lint:
  name: Python Linting (Black, isort, flake8)
  entry: bash -c 'python3 -m black --check kumihan_formatter && python3 -m isort --check-only kumihan_formatter && python3 -m flake8 kumihan_formatter'
  language: system
  pass_filenames: false

mypy-type-check:
  name: MyPy Type Checking
  entry: python3 -m mypy kumihan_formatter --config-file pyproject.toml
  language: system
  pass_filenames: false
  description: Type checking with MyPy using unified pyproject.toml config
  verbose: true

kumihan-lint-fix:
  name: Kumihan Auto-fix flake8 errors
  entry: python3 -m kumihan_formatter.cli lint --fix --dry-run
  language: system
  pass_filenames: true
  description: Automatically fix common flake8 errors (E501, E226, F401, E704, E702)

🔄 Issue #912: 重複機能統合リファクタリング完了 (#916)
  kumihan_formatter/core/config/__init__.py
  kumihan_formatter/core/config/config_loader.py
  kumihan_formatter/core/config/config_manager.py
  kumihan_formatter/core/config/config_types.py
  kumihan_formatter/core/config/config_validator.py
  kumihan_formatter/core/parsing/__init__.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/base/parser_protocols.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/rendering/__init__.py
  kumihan_formatter/core/rendering/formatters/__init__.py
  kumihan_formatter/core/rendering/formatters/html_formatter.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🛠️ Issue #920拡張: Gemini協業システム品質保証改善
  CLAUDE.md
  Makefile
  docs/claude/gemini_instruction_template.md
  docs/claude/quality_checklist_template.md
Due: claude-md-check

fix: pre-commit hook更新によるMakefile微調整
  Makefile
Due: none

fix: 重複gemini-quality-check定義解決
  Makefile
Due: none

📝 Issue #920: CLAUDE.md最適化完了
  CLAUDE.md
Due: claude-md-check

📝 Issue #920: CLAUDE.md最適化 - サイズ削減と構造改善 (#926)
  CLAUDE.md
  Makefile
Due: claude-md-check

📝 Issue #920: CLAUDE.md最適化 - サイズ削減と構造改善 (#926)
  CLAUDE.md
  Makefile
  kumihan_formatter/core/list_parser.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_list_parser.py
  kumihan_formatter/core/parsing/list/utilities/__init__.py
  kumihan_formatter/core/parsing/list/utilities/list_utilities.py
  kumihan_formatter/core/parsing/specialized/keyword_parser_backup.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

📝 Issue #920: CLAUDE.md最適化 - サイズ削減と構造改善 (#926) (#927)
  kumihan_formatter/core/list_parser.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_list_parser.py
  kumihan_formatter/core/parsing/list/utilities/__init__.py
  kumihan_formatter/core/parsing/list/utilities/list_utilities.py
  kumihan_formatter/core/parsing/specialized/keyword_parser_backup.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🧪 Issue #921: テスト拡充リファクタリング - カバレッジ向上と品質保証強化
  kumihan_formatter/core/config/config_manager.py
  tests/integration/async/__init__.py
  tests/integration/async/test_async_workflow.py
  tests/integration/async/test_concurrent_processing.py
  tests/load/__init__.py
  tests/load/test_concurrent_requests.py
  tests/load/test_large_file_processing.py
  tests/load/test_stress_scenarios.py
  tests/utilities/__init__.py
  tests/utilities/test_fixtures.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

✅ Issue #929: Phase 1完了 - 基盤モジュール高カバレッジ達成
  tests/unit/async_processing/__init__.py
  tests/unit/async_processing/test_async_coordinator.py
  tests/unit/async_processing/test_event_bus.py
  tests/unit/parsing/__init__.py
  tests/unit/parsing/keyword/__init__.py
  tests/unit/parsing/keyword/parsers/__init__.py
  tests/unit/parsing/keyword/parsers/test_advanced_parser.py
  tests/unit/parsing/keyword/parsers/test_basic_parser.py
  tests/unit/parsing/keyword/parsers/test_custom_parser.py
  tests/unit/parsing/keyword/test_keyword_parser_comprehensive.py
  tests/unit/parsing/keyword/test_keyword_registry_comprehensive.py
  tests/unit/parsing/list/parsers/__init__.py
  tests/unit/parsing/list/parsers/test_nested_list_parser.py
  tests/unit/parsing/list/parsers/test_nested_parser.py
  tests/unit/parsing/list/parsers/test_ordered_list_parser.py
  tests/unit/parsing/list/parsers/test_ordered_parser.py
  tests/unit/parsing/list/parsers/test_unordered_list_parser.py
  tests/unit/parsing/list/parsers/test_unordered_parser.py
  tests/unit/parsing/list/test_list_parser_comprehensive.py
  tests/unit/parsing/list/test_list_parser_main_comprehensive.py
  tests/unit/parsing/list/test_list_utilities_comprehensive.py
  tests/unit/parsing/test_main_parser_comprehensive.py
  tests/unit/patterns/__init__.py
  tests/unit/patterns/test_command.py
  tests/unit/patterns/test_decorator.py
  tests/unit/patterns/test_dependency_injection.py
  tests/unit/patterns/test_factories.py
  tests/unit/patterns/test_observer.py
  tests/unit/patterns/test_strategy.py
  tests/unit/plugins/__init__.py
  tests/unit/plugins/test_plugin_integration.py
  tests/unit/plugins/test_plugin_manager.py
  tests/unit/rendering/__init__.py
  tests/unit/rendering/components/__init__.py
  tests/unit/rendering/components/test_content_processor.py
  tests/unit/rendering/components/test_element_renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🧪 Issue #929: Phase 3 完全実装 - 設定システム包括的テスト追加
  tests/unit/config/__init__.py
  tests/unit/config/test_base_config_complete.py
  tests/unit/config/test_config_env_complete.py
  tests/unit/config/test_config_init.py
  tests/unit/config/test_config_manager_complete.py
  tests/unit/config/test_config_utils_complete.py
  tests/unit/config/test_extended_config_comprehensive.py
  tests/unit/config/test_integration.py
  tests/unit/config/test_performance.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🚀 Issue #922: Phase 4 エンタープライズ最適化実装 - 途中経過
  .github/quality/coverage_thresholds.yml
  .github/quality/performance_benchmarks.yml
  .github/quality/quality_rules.yml
  .github/workflows/quality_gate.yml
  .github/workflows/security_scan.yml
  CLAUDE.md
  kumihan_formatter/core/optimization/memory/__init__.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/__init__.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
  tools/automation/__init__.py
  tools/automation/auto_formatter.py
  tools/automation/pre_commit_hooks.py
  tools/automation/quality_checker.py
  tools/gemini_collaboration_optimizer.py
  tools/quality_dashboard/__init__.py
  tools/quality_dashboard/dashboard.py
  tools/quality_dashboard/metrics_collector.py
  tools/quality_dashboard/report_generator.py
  tools/quality_dashboard/visualization/__init__.py
  tools/quality_dashboard/visualization/coverage_charts.py
  tools/quality_dashboard/visualization/performance_graphs.py
  tools/quality_dashboard/visualization/quality_trends.py
Due: claude-md-check, python-lint, mypy-type-check, kumihan-lint-fix

📝 Issue #922: CLAUDE.md最適化 - サイズ警告レベル解決
  CLAUDE.md
Due: claude-md-check

🚀 Issue #922: Phase 4 完全実装 - エンタープライズ機能統合
  CHANGELOG.md
  Makefile
  docs/architecture/design_patterns.md
  docs/architecture/system_overview.md
  docs/development/contribution_guide.md
  docs/operations/deployment_guide.md
  docs/operations/monitoring_setup.md
  docs/operations/troubleshooting.md
  docs/releases/v2.0.0-enterprise.md
  kumihan_formatter/core/logging/__init__.py
  kumihan_formatter/core/logging/audit_logger.py
  kumihan_formatter/core/logging/structured_logger.py
  kumihan_formatter/core/monitoring/__init__.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/monitoring/metrics_collector.py
  kumihan_formatter/core/monitoring/telemetry/__init__.py
  kumihan_formatter/core/monitoring/telemetry/jaeger_tracer.py
  kumihan_formatter/core/monitoring/telemetry/opentelemetry_setup.py
  kumihan_formatter/core/monitoring/telemetry/prometheus_exporter.py
  kumihan_formatter/core/optimization/performance/__init__.py
  kumihan_formatter/core/optimization/performance/algorithm_optimizer.py
  kumihan_formatter/core/optimization/performance/parallel_processor.py
  kumihan_formatter/core/optimization/performance/streaming_processor.py
  kumihan_formatter/core/security/__init__.py
  kumihan_formatter/core/security/input_validator.py
  kumihan_formatter/core/security/sanitizer.py
  kumihan_formatter/core/security/vulnerability_scanner.py
  kumihan_formatter/core/utilities/token_tracker.py
  scripts/enterprise_check.py
  scripts/performance_benchmark.py
  scripts/release_prepare.py
  scripts/security_audit.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Fix: API互換性問題修正・エンタープライズチェック100%達成
  kumihan_formatter/core/security/input_validation.py
  kumihan_formatter/core/security/sanitizer.py
  scripts/enterprise_check.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Fix: CI品質チェック問題解決 - 型エラー・フォーマット修正
  kumihan_formatter/core/logging/__init__.py
  kumihan_formatter/core/logging/structured_logger.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/monitoring/metrics_collector.py
  kumihan_formatter/core/monitoring/telemetry/jaeger_tracer.py
  kumihan_formatter/core/monitoring/telemetry/opentelemetry_setup.py
  kumihan_formatter/core/monitoring/telemetry/prometheus_exporter.py
  kumihan_formatter/core/security/__init__.py
  kumihan_formatter/core/security/input_validation.py
  kumihan_formatter/core/security/input_validator.py
  kumihan_formatter/core/security/sanitizer.py
  kumihan_formatter/core/security/vulnerability_scanner.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🧹 Issue #932: CI品質改善 Phase 1 - flake8エラー完全撲滅
  kumihan_formatter/core/logging/structured_logger.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/optimization/memory/__init__.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🧹 Issue #932: CI品質改善 Phase 1 - flake8エラー完全撲滅 (#937)
  kumihan_formatter/core/logging/structured_logger.py
  kumihan_formatter/core/monitoring/health_checker.py
  kumihan_formatter/core/optimization/memory/__init__.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #938: Phase 2-A var-annotated型注釈エラー完全修正
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/keyword/parsers/custom_parser.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/list/parsers/nested_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/list_components/advanced_list_handler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #938: Phase 2-A var-annotated型注釈エラー完全修正 (#941)
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/parsing/block/block_parser.py
  kumihan_formatter/core/parsing/keyword/parsers/custom_parser.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/list/parsers/nested_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/list_components/advanced_list_handler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #939: Phase 2-B no-untyped-def型注釈エラー完全修正
  kumihan_formatter/core/compatibility_layer.py
  kumihan_formatter/core/mixins/event_mixin.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/effect_measurement.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/list/parsers/unordered_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/core/parsing/specialized/list_components/advanced_list_handler.py
  kumihan_formatter/core/parsing/specialized/list_components/basic_list_handler.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #939: Phase 2-B no-untyped-def型注釈エラー完全修正 (#942)
  kumihan_formatter/core/compatibility_layer.py
  kumihan_formatter/core/mixins/event_mixin.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/effect_measurement.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/memory/weak_references.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/list/parsers/unordered_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/content_parser.py
  kumihan_formatter/core/parsing/specialized/list_components/advanced_list_handler.py
  kumihan_formatter/core/parsing/specialized/list_components/basic_list_handler.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/patterns/legacy_factory_integration.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #940: Phase 2-C no-any-return型安全性エラー大幅改善
  kumihan_formatter/core/async_processing/async_coordinator.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/coordinator.py
  kumihan_formatter/core/optimization/lightweight_optimization/utils.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
  kumihan_formatter/core/parsing/base/mixins.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/patterns/dependency_injection.py
  kumihan_formatter/core/patterns/factories.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/inline_handler.py
  kumihan_formatter/renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #940: Phase 2-C no-any-return型安全性エラー大幅改善 (#943)
  kumihan_formatter/core/async_processing/async_coordinator.py
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/coordinator.py
  kumihan_formatter/core/optimization/lightweight_optimization/utils.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/memory_profiler.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/startup/startup_profiler.py
  kumihan_formatter/core/parsing/base/mixins.py
  kumihan_formatter/core/parsing/base/parser_base.py
  kumihan_formatter/core/parsing/compatibility.py
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/patterns/dependency_injection.py
  kumihan_formatter/core/patterns/factories.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/inline_handler.py
  kumihan_formatter/renderer.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #940: Phase 2-C 完全達成 - 残存no-any-returnエラー9件完全修正
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/effect_measurement.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/business_metrics.py
  kumihan_formatter/inline_handler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #940: Phase 2-C 完全達成 - 残存no-any-returnエラー9件完全修正 (#944)
  kumihan_formatter/core/optimization/ai_optimization/integration_manager/integration_manager.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/effect_measurement.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/business_metrics.py
  kumihan_formatter/inline_handler.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🎯 CI品質改善 Phase 3 完全達成 - 型安全性エラー136件→0件達成
  kumihan_formatter/core/ast_nodes/node.py
  kumihan_formatter/core/common/smart_cache.py
  kumihan_formatter/core/monitoring/telemetry/jaeger_tracer.py
  kumihan_formatter/core/monitoring/telemetry/opentelemetry_setup.py
  kumihan_formatter/core/monitoring/telemetry/prometheus_exporter.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/measurement_core.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/quality_metrics.py
  kumihan_formatter/core/optimization/memory/__init__.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/settings.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/parsing/base/parser_protocols.py
  kumihan_formatter/core/parsing/keyword/keyword_parser.py
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/keyword/parsers/basic_parser.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_list_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/rendering/formatters/html_formatter.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/inline_handler.py
  kumihan_formatter/parser.py
  kumihan_formatter/streaming_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🎯 CI品質改善 Phase 3 完全達成 - 型安全性エラー136件→0件達成 (#948)
  kumihan_formatter/core/ast_nodes/node.py
  kumihan_formatter/core/common/smart_cache.py
  kumihan_formatter/core/monitoring/telemetry/jaeger_tracer.py
  kumihan_formatter/core/monitoring/telemetry/opentelemetry_setup.py
  kumihan_formatter/core/monitoring/telemetry/prometheus_exporter.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/measurement_core.py
  kumihan_formatter/core/optimization/ai_optimization/measurement/metrics/quality_metrics.py
  kumihan_formatter/core/optimization/memory/__init__.py
  kumihan_formatter/core/optimization/memory/memory_pool.py
  kumihan_formatter/core/optimization/memory/object_recycler.py
  kumihan_formatter/core/optimization/settings.py
  kumihan_formatter/core/optimization/startup/import_optimizer.py
  kumihan_formatter/core/optimization/startup/lazy_loading.py
  kumihan_formatter/core/parsing/base/parser_protocols.py
  kumihan_formatter/core/parsing/keyword/keyword_parser.py
  kumihan_formatter/core/parsing/keyword/keyword_parser_optimized.py
  kumihan_formatter/core/parsing/keyword/parsers/basic_parser.py
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/list/list_parser_main.py
  kumihan_formatter/core/parsing/list/parsers/nested_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/ordered_list_parser.py
  kumihan_formatter/core/parsing/list/parsers/unordered_list_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/rendering/formatters/html_formatter.py
  kumihan_formatter/core/rendering/formatters/markdown_formatter.py
  kumihan_formatter/core/rendering/main_renderer.py
  kumihan_formatter/inline_handler.py
  kumihan_formatter/parser.py
  kumihan_formatter/streaming_parser.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #949: parsing系 override エラー解決 - 18件→0件達成
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/patterns/factories.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #949: parsing系 override エラー解決 - 18件→0件達成 (#954)
  kumihan_formatter/core/parsing/list/list_parser.py
  kumihan_formatter/core/parsing/main_parser.py
  kumihan_formatter/core/parsing/specialized/block_parser.py
  kumihan_formatter/core/parsing/specialized/keyword_parser.py
  kumihan_formatter/core/parsing/specialized/list_parser.py
  kumihan_formatter/core/parsing/specialized/markdown_parser.py
  kumihan_formatter/core/patterns/factories.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #950: patterns/factories override エラー解決 - 2件→0件達成
  kumihan_formatter/core/patterns/factories.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

🔧 Issue #950: patterns/factories override エラー解決 - 2件→0件達成 (#955)
  kumihan_formatter/core/patterns/factories.py
Due: python-lint, mypy-type-check, kumihan-lint-fix

Path conditions:
  claude-md-check: any of: CLAUDE\.md$
  python-lint: any of: \.py$
  mypy-type-check: any of: \.py$
  kumihan-lint-fix: any of: \.py$
